<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Create a new Shop</title>
<meta name="generator" content="Bootply" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/public/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/public/css/shop.css">
<link rel="stylesheet" type="text/css" href="/public/css/main.css">
<link rel="stylesheet" type="text/css" href="/public/css/blog.css">
<link rel="stylesheet" type="text/css" href="/public/css/imagePreview.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--script type="text/javascript" src='js/navbar.js'></script-->
<style type="text/css">
    html,body {
        min-height: 100%;
    }
    #masthead {
        background-size: 115% auto;
    }
    .anibox {
    box-sizing: border-box;
    border: 1px dotted #f00;
    background-color: #f2f2f2;
    /*animation: EDITABLE 2s infinite;*/
    }
    .emphasized{
        background-color: #ddd;
    }   

    #masthead.start {
        transition: all 3s ease-in-out;
        background-size: 100% auto;
        top: 0;
        left: 0;
        padding-top: 15%;
    }

    @media only screen and (max-width: 768px) {
        #masthead {
            background-size: auto 115%;
        }
        #masthead.start {
            transition: all 5s ease-in-out;
            background-size: auto 100%;
            top: 0;
            left: 0;
            padding-top: 15%;
            /*bottom: 0px;*/
        }
    }

    .controls {
        margin-top: 15px;
        /*vertical-align: middle;*/
    }

    @media (min-width: 979px) {
        #sidebar.affix-bottom {
            position: absolute;
        }
        #sidebar.affix-top {
            position: static;
            /*margin-top: 30px;*/
            /*width: 300px;*/
        }
        #sidebar.affix {
            position: fixed;
            top: 70px;
            /*width: 300px;*/
        }
    }

    #phasebeam {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    #phasebeam canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .introduction .label {
        background-color: #5CB85C;
    }

    .animatedIcon {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: iconAni 2s infinite;
        /* Safari 4+ */
        -moz-animation: iconAni 2s infinite;
        /* Fx 5+ */
        -o-animation: iconAni 2s infinite;
        /* Opera 12+ */
        animation: iconAni 2s infinite;
        /* IE 10+, Fx 29*/
    }

    @-webkit-keyframes iconAni {
        0% {
            background-color: #FFF;
            margin-top: 0px;
        }
        50% {
            background-color: #5CB85C;
            margin-top: 25px;
        }
        100% {
            background-color: #F0a;
            margin-top: 10px;
        }
    }

    @-moz-keyframes iconAni {
        0% {
            background-color: #FFF;
            margin-top: 0px;
        }
        50% {
            background-color: #5CB85C;
            margin-top: 25px;
        }
        100% {
            background-color: #F0a;
            margin-top: 10px;
        }
    }

    @-o-keyframes iconAni {
        0% {
            background-color: #FFF;
            margin-top: 0px;
        }
        50% {
            background-color: #5CB85C;
            margin-top: 25px;
        }
        100% {
            background-color: #F0a;
            margin-top: 10px;
        }
    }

    @keyframes iconAni {
        0% {
            background-color: #FFF;
            margin-top: 0px;
        }
        50% {
            background-color: #5CB85C;
            margin-top: 25px;
        }
        100% {
            background-color: #F0a;
            margin-top: 10px;
        }
    }
.hiddenElem{
    display: none;
}
.hiddenElemSlow{      
   transition:all 3s ease-in-out;
   display: none;
}

</style>

<body style="background-color: rgb(0,0,0)">
    <!-- Dont touch this section -->
    <!-- masthead -->
    <div id="masthead">
        <!-- <div style="height:100%; width: 100%; background-color: rgba(0,0,0,.6)"></div> -->
        <div class="container-fluid">
            <div class="row cover">
                <div class="col-md-6 col-md-offset-1 ">
                    <h1><app-showName id = "showName"><%=title%></app-showName>
                        <!-- <hr style = "border-top: 1px solid rgba(255,255,255,.3)"> -->
                        <p class="lead" ><app-slogan id = "slogan">Shop chuyên hàng hiệu...!</app-slogan></p>
                    </h1>
                </div>
                <!-- <div class="col-md-5" style="padding-right:30px; bottom: 10px; right: 0px; position: absolute;"> -->
                <div class="col-md-5" style="padding:30px">
                    <!-- Primary Advertising Here -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <marketing-message>Tin tức khuyến mại</marketing-message>
                        </div>
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                    </div>
                    <!-- /Primary Advertising Here -->
                </div>
            </div>
        </div>
        <!-- /cont -->        
    </div>
    <!-- NavBar -->
    <div id="nav-wrapper">
        <div id="nav" class="navbar navbar-inverse navbar-static-top navbar" role="navigation">
            <div class="container">
                <div class="row">
                    <div>
                        <img id = "logo" class="logo">
                    </div>
                    <div class='site-name hidden-xs' id = "companyName">
                        <!-- AbcJSC -->
                    </div>
                    <div class='navbar-left site-name phone'>
                        <i class="fa fa-phone "></i>
                        <!-- <i class="fa fa-facebook"></i> -->
                    </div>
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <nav class="collapse navbar-collapse " role="navigation">                                            
                        <ul class="nav navbar-nav ">
                            <li class='navbar-right' id ="create_editItem">
                                <a href="#sec">    Creating new Item</a>
                            </li>
                            <!-- <li class='navbar-right'>
                                <a href="#sec">Khuyến mãi</a>
                            </li>
                            <li class='navbar-right'>
                                <a href="#sec">Sản phẩm</a>
                            </li>
                            <li class='navbar-right '>
                                <a href="#sec">Home</a>
                            </li> -->
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id = "visitor">
                            <li class='navbar-right' id='visitorHolder'>
                                <a href="#sec" id = "fb_login"> <i class="fa fa-facebook fa-2x "></i><span> Login with Facebook</span></a>
                            </li>                            
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /NavBar -->
    <div class="divider" style="min-height: 75px"></div>
    <div class="container-fluid" style=";color: #fff" id="start-offset">
        <hr>
        <div id="extraInfo" class="col-md-12 " style="color:#333 ; background-color:#f5f5f5; padding-left: 30px; border-left: 1px solid #fff">
            <div class="container-fluid" style="background-color: #f5f5f5; display:flex" id="section1">
                <div class="col-md-6 col-lg-6" style="flex:1">
                    <div class="row" style="padding: 30px; margin-bottom: 30px; color:#333">
                        <div class="col-md-2">
                            <h3>
                                <!-- <i class="fa fa-cogs fa-2x"></i> --> 
                                <img id = "secondAvatar" class = "img-responsive">
                            </h3>
                        </div>
                        <div class="col-md-10">
                            <h3>
                                <span>Xin chào</span><span id = "helloVisior"></span>
                            </h3>
                            <div>Bắt đầu tạo shop nào...</div>
                        </div>
                    </div>                    
                    <div style="margin-top: 15px" class="row" id = "pathHolder">      
                            <span style="margin-bottom: 5px"><b>Tên đường dẫn</b></span>
                            <br>                
                            <i> Tiếng Việt không dấu. Nếu bạn đặt là abcd, đường dẫn tên shop của bạn sẽ là localhost:3000/abcd</i>
                            <br>
                            <input type="text" class="form-control data-input" id="pathName">                    
                    </div>
                    <div style="margin-top: 15px" class="row">        
                            <span style="margin-bottom: 5px"><b>Tên hiển thị của shops</b></span>                            
                            <br>
                            <i>Có thể đặt bằng tiếng Việt hoặc tiếng Anh</i>                
                            <input type="text" class="form-control data-input" id="_showName">            
                    </div>
                    <div style="margin-top: 15px" class="row">                
                            <span style="margin-bottom: 5px"><b>Slogan của shop</b></span>                            
                            <br>
                            <i>Truyền đạt giá trị bạn muốn đem đến cho khách hàng</i>                
                            <input type="text" class="form-control data-input" id="_slogan">                    
                    </div>
                    <div style="margin-top: 15px" class="row">
                            <span style="margin-bottom: 5px"><b>Tên công ty hay nhóm của bạn</b></span>
                            <br>
                            <i>Sẽ hiển thị trên góc trên bên trái của menu trong shop của bạn</i>
                            <input type="text" class="form-control data-input" id="_companyName">
                    </div>
                    <div style="margin-top: 15px" class="row">
                        <div class="col-md-4 " style="padding: 10px">
                            <span style="margin: 10px; display: inline-block; vertical-align: middle;"><b>Chọn icon cho shop của bạn</b></span>
                            <button id='icon' type="button" style="margin: 10px" class="btn btn-success pull-left" data-toggle="modal" data-target="#m_icon">Icon</button>
                        </div>
                        <div class="col-md-8" style="padding: 10px">
                            <div style=" height: 74px; width: 74px">
                                <img id="iconHolder" style="width: 100%; height:auto">
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 15px" class="row">
                        <div class="col-md-4 " style="padding: 10px">
                            <span style="margin: 10px ; display: inline-block; vertical-align: middle;"><b>Chọn hình nền cho shop của bạn</b></span>
                            <button id='wallPaper' type="button" style="margin: 10px" class="btn btn-success pull-left" data-toggle="modal" data-target="#m_wall">Wall</button>
                        </div>
                        <div class="col-md-8" style="padding: 10px">
                            <div style=" widh: 100%; margin-bottom: 15px">
                                <img id="wallHolder" style=" max-width: 100%; height:auto ">
                            </div>
                        </div>
                    </div>
                        <div class="row block ">
                            <h3><i class="fa fa-microphone"></i> Giới thiệu</h3>
                            <div class="editarea">
                                <div style="column-count:2" class="post-title data-input" id="shop_description" contenteditable="false">
                                <b><h4> Hãy giới thiệu về shop của bạn tại đây....</h4></b>Di chuột hoặc click vào khu vực này để thấy nút <kbd>Edit</kbd> dưới màn hinh<br>Sử dụng bản đồ bên tay phải (kéo quả bóng đỏ trong bản đồ!.) để cung cấp địa chỉ của bạn cho khách hàng....<br>Click chuột vào những khu vực chuyển màu xám để thay đổi thông tin mà bạn muốn cập nhật đến khách hàng.<br>Nhấn nút <kbd>Done</kbd> để cập nhập thông tin khi bạn hoàn tất<br>Chúc các bạn thành công..
                                </div>
                                <h3><i class="fa fa-anchor"></i> Liên hệ:</h3>
                                <li class="list-unstyled">
                                    <i class="fa fa-phone-square"></i>
                                    <label>Phone:</label><div class="excerpt data-input" id = 'contact_phone'> Cập nhật thông tin điện thoại.. 0912345xxx</div>
                                </li>
                                <li class="list-unstyled">
                                    <i class="fa fa-envelope" ></i>
                                    <label>email:</label> <div class="excerpt data-input" id = 'contact_email'>Cập nhật địa chỉ emal... abc@gmail.com</div>
                                </li>
                                <li class="list-unstyled" style="margin-bottom:15px">
                                    <i class="fa fa-map-marker"></i>
                                    <label>Địa chỉ:</label><app-address id = "address" class="excerpt data-input"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</app-address>
                                </li>
                            </div>
                        </div>
                </div>
                <div class="col-md-6 col-lg-6" style="padding:0; flex:1" id="googleMap">
                </div>
                <hr>
            </div>
            <div class="container-fluid" style="background-color: #f5f5f5">
                
            </div>
        </div>

        <hr>
        <div class="row" id = "continueButton">
            <div class="container-fluid">
                <button id = "bnt_continues" type="button" style="margin: 10px" class="btn btn-success pull-right">Tiếp tục</button>
            </div>
        </div>
    </div>    

<div id="end-offset">
    <footer>
        <div class="container-fluid" style="background-color:rgba(0,0,0,.65); ">
            <!--/col-->
        </div>
        <div style=" width: 100%; background-color: rgba(0,0,0,.85); height: 90px;">
            @Copyright:abcd@abc.jsc
        </div>
    </footer>
</div>
<div class="modal fade" id="m_icon" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chọn Icon cho shop của bạn.</h4>
            </div>
            <div class="modal-body">
                <p>Drag the image to take an icon</p>
                <div class="row">
                    <div class="col-md-9">
                        <div class="imageBox" id='iconImg' style="height: 400px;">
                            <div class="thumbBox" id = "thumbIcon"></div>
                            <div class="spinner" style="display: none" id = "spinnerIcon" >Loading...</div>
                        </div>
                        <div class="action">
                            <span class="file-input btn btn-primary btn-file">
                                Browse&hellip;
                                <input type="file" multiple id='iconFile'>
                            </span>
                            <!--input type="button" id="btnCrop" class="btn btn-primary btncrop" value="Crop"-->
                            <input type="button" id="icon_btnZoomIn" class="btn btn-primary" value="+" style="float: right">
                            <input type="button" id="icon_btnZoomOut" class="btn btn-primary" value="-" style="float: right">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="preview">
                            <img id='icon_preview' src="">
                        </div>
                        <div class="preview-md">
                            <img id='icon_preview-md' src="">
                        </div>
                        <div class="preview-sm">
                            <img id='icon_preview-sm' src="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .fullWidth{
        width: 100%!important;
        margin:0!important;
    }
</style>
<div class="modal fade" id="m_wall" role="dialog">
    <div class="modal-dialog fullWidth">
        <!-- Modal content-->
        <div class="modal-content" style="height: 120%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chọn hình nền cho shop của bạn.</h4>
            </div>
            <div class="modal-body" style="padding:0; width: 100%; margin:0">
                <p style="margin-left: 15px">Drag the image to take an wall</p>
                <!-- <div class="row"> -->
                <div class="col-md-12" style="padding:0">
                    <div class="imageBox" id='wallImg' style="background-color: #F5F5F5">
                        <div class="fullWidth" id = "thumbWall" style="height: 100%; "></div>
                        <div class="spinner" style="display: none" id = "spinnerWall" >Loading...</div>
                        <div id = 'openInput' class="spinner" style="background-color: rgba(0,0,0,0) color: #333"><h3>Click here ....</h3></div>
                    </div>
                    <div class="action" style="padding: 15px">
                        <span class="file-input btn btn-primary btn-file">
                            Browse&hellip;
                            <input type="file" multiple id='wallFile'>
                        </span>
                        <!--input type="button" id="btnCrop" class="btn btn-primary btncrop" value="Crop"-->
                        <input type="button" id="wall_btnZoomIn" class="btn btn-primary" value="+" style="float: right">
                        <input type="button" id="wall_btnZoomOut" class="btn btn-primary" value="-" style="float: right">
                    </div>
                </div>
                <div class="col-md-3" style=" padding: 15px">
                    <div class="preview">
                        <img id='wall_preview'>
                    </div>
                    <div class="preview-md">
                        <img id='wall_preview-md'>
                    </div>
                    <div class="preview-sm">
                        <img id='wall_preview-sm'>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="modal-footer" >
                <button type="button" style="margin-top: 15px" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<template id="ControlPanel">
        <div class="controlPanel col-md-10" style="text-align: center;">            
            <button type="button" class="btn btn-default go" id='_edit'><i class="fa fa-pencil-square-o"></i> Edit</button>
            <button type="button" class="btn btn-default go" id="_done"><i class="fa fa-check-square-o"></i> Done</button>
        </div>
</template>

</div>
<div id="phasebeam">
    <canvas width="700" height="650"></canvas>
    <canvas width="700" height="650"></canvas>
    <canvas width="700" height="650"></canvas>
</div>
<script type="text/javascript" src="../public/js/phasebeam.js"></script>
</body>
<script type="text/javascript" src='../public/js/utils.js'></script>
<script type="text/javascript" src="../public/js/Crypto/cryptoUtils.js"></script>
<script type="text/javascript" src="../public/js/ImageSelector/chiplcrop.js"></script>
<script type="text/javascript">
    $(function() {
    // $('#nav-wrapper').height($("#nav").height());
    // $('#nav-wrapper').height(200);
    $('#nav').affix({
        offset: {
            top: function() {
                // Do other stuff here-- chipl
                return $('#start-offset').offset().top / 2;
            }
        }
    });
    // Sidebar affix
    $('#sidebar').affix({
        offset: {
            top: $('#start-offset').offset().top + 0,
            bottom: $('#end-offset').outerHeight() - 20
        }
    }).on('affix.bs.affix', function() { // before affix
        $(this).css({
            /*'top': headerHeight,*/ // for fixed height
            'width': $(this).outerWidth() // variable widths
        });
    }).on('affix-bottom.bs.affix', function() { // before affix-bottom
        // $(this).css('bottom', 'auto'); // THIS is what makes the jumping
    });;

});

$(document).ready(function() {
    var masthead = $("#masthead");
        // masthead.addClass('start hiddenElem');
        masthead.addClass('hiddenElem');
    
    document.querySelector('#iconFile').addEventListener('change', function(el){
        initIcon(this);
    }, false);
    document.querySelector('#wallFile').addEventListener('change', function() {
        initWall(this);        
    }, false);
    var inputs = document.querySelectorAll('.data-input');
    for(var i =0; i<inputs.length; i++){
        inputs[i].addEventListener('input',function(event){
            getInputData(this);
        },false)
    }
    document.getElementById("openInput").addEventListener('click',function(){
        document.getElementById("wallFile").click();
    },false);

    var blocks = document.querySelectorAll('.block');
    for (var i = 0; i < blocks.length; i++) {
        blocks[i].addEventListener('mouseover', function() {
            // console.log(this.clientHeight);
            addControlPanel(this);
        }, false);
        blocks[i].addEventListener('mouseout', function(_event) {
            removeControlPanel(_event, this);
        }, false);
    };
    document.getElementById("bnt_continues").addEventListener('click', function(){
        createShop();
    }, false);    
});

// data to keep to update to server
var img_Icon;
var img_Wall;

var isUploadIcon;
var isUploadImage;
    isUploadIcon = false;
    isUploadImage = false;
var post_data = {};

function initIcon(el){    
    options = {
        imageBox: '#iconImg',
        thumbBox: '#thumbIcon',
        spinner: '#spinnerIcon',
        imgSrc: ''
    }
    var reader = new FileReader();
    cropper = new cropbox(options, iconPreview);
    reader.onload = function(e) {
        options.imgSrc = e.target.result;                    
        cropper.resetOption(options);
    }
    reader.readAsDataURL(el.files[0]);
    el.files = [];
    document.querySelector('#icon_btnZoomIn').addEventListener('click', function() {
        cropper.zoomIn();
    })
    document.querySelector('#icon_btnZoomOut').addEventListener('click', function() {
        cropper.zoomOut();
    })
    $('#m_icon').on('hidden.bs.modal', function() {
        // console.log('close modal:');
        document.getElementById('iconHolder').setAttribute('src',img_Icon);
        document.getElementById('logo').setAttribute('src',img_Icon);
        // upload icon
        uploadImage("avatars");
    });
    $('#m_icon').on('shown.bs.modal', function() {            
        cropper.resetOption(options);
    });
    function iconPreview(data) {
        //console.log('imgdata: ', data);
        img_Icon = data;
        document.getElementById('icon_preview').setAttribute('src', data);
        document.getElementById('icon_preview-md').setAttribute('src', data);
        document.getElementById('icon_preview-sm').setAttribute('src', data);        
        //document.getElementById('Img_Avatar').setAttribute('src',data);
    }

};

function initWall(el){
    // console.log("initWall..");    
    // document.getElementById("wallImg").style.height = screen.height + "px";
    // document.getElementById("thumbWall").style.height = screen.height + "px";
    options = {
        imageBox: '#wallImg',
        thumbBox: '#thumbWall',
        spinner: '#spinnerWall',
        imgSrc: ''
    }
    var reader = new FileReader();
    cropper = new cropbox(options, wallPreview);
    reader.onload = function(e) {
        options.imgSrc = e.target.result;
        cropper.resetOption(options);        
    }
    reader.readAsDataURL(el.files[0]);
    el.files = [];
    document.querySelector('#wall_btnZoomIn').addEventListener('click', function() {
        cropper.zoomIn();
    })
    document.querySelector('#wall_btnZoomOut').addEventListener('click', function() {
        cropper.zoomOut();
    })
    $('#m_wall').on('hidden.bs.modal', function() {
        
        var masthead = document.getElementById('masthead');
        var prop = "#f3f3f3 url('" +img_Wall+ "') no-repeat right top"
        masthead.style.background = prop;
        
        masthead.classList.remove("hiddenElem");
        // masthead.addClass('start');
        setTimeout(function(){
            masthead.classList.add('start');
        }, 100);
        // upload wall
        uploadImage("walls");

    });
    $('#m_wall').on('shown.bs.modal', function() {            
        cropper.resetOption(options);        
    });    
    function wallPreview(data) {
        
        img_Wall = data;
        document.getElementById('wall_preview').setAttribute('src', data);
        document.getElementById('wall_preview-md').setAttribute('src', data);
        document.getElementById('wall_preview-sm').setAttribute('src', data);        
        document.getElementById("openInput").classList.add("hiddenElem");
        document.getElementById('wallHolder').setAttribute('src',data);
    }

};

// Update by realtime with input (oninput) events
function getInputData(elem){    
    var _id = elem.id;
    // console.log ("elemen id: ", _id);
   
    //pathName
    if(_id == '_pathName'){
        // console.log('str.charAt', elem.value.charAt(elem.value.length));
        var _ch = elem.value.substring(elem.value.length-1, elem.value.length);
        var validChars = "abcdefghijklmnopqrstuvwxyz0123456789";        
        if (validChars.indexOf(_ch.toLowerCase())== -1){
            var _display = elem.value.substring(0,elem.value.length -1);
            elem.value = _display;
            return;
        }        
        post_data.pathName = elem.value;
    }
    //showName
    else if(_id == '_showName'){        
        post_data.showName = elem.value;
        document.querySelector('#showName').innerHTML = innerHTML=elem.value;
    }
    //slogan
    else if(_id =='_slogan'){        
        post_data.slogan = elem.value;
        document.querySelector('#slogan').innerHTML=elem.value;
    }
    //companyName
    else if(_id == '_companyName'){        
        post_data.companyName = elem.value;
        document.querySelector("#companyName").innerHTML = elem.value;
    }
};


function addControlPanel(el) {
    // console.log('add',el);
    if (isChildElementExisted(el, '.' + 'controlPanel') == true) {
        return;
    }
    var template_content = document.querySelector('#ControlPanel').content;
    el.appendChild(document.importNode(template_content, true));
    // adding class for controlPanel
    var controlPanel = el.querySelector('.controlPanel');
    setTimeout(function() {
        controlPanel.classList.add('show');
    }, 100);
    var buttons = controlPanel.querySelectorAll('button');
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].classList.remove('go');
        buttons[i].classList.add('sh');
        // Assign business function for each button
        switch (buttons[i].id) {
            case '_edit':
                buttons[i].addEventListener('click', function(_event) {
                    bnt_EditClick(_event, this, el);
                }, false);
                break;
            case '_done':
                buttons[i].addEventListener('click', function(_event){
                    var bnt_Edit = document.querySelector("#_edit");
                    bnt_DoneClick(_event, bnt_Edit, el);
                },false);
                break;
        }
    }
    google.maps.event.trigger(map, "resize");
}
function removeControlPanel(e, el) {  
	// console.log("from removeControlPanel: ", el, buttonState) ;
    if (buttonState == 1){
        return;
    };

    var controlPanel = el.querySelector('.' + 'controlPanel');
    if (mouseTracking(e, el) == true) {
        var buttons = controlPanel.querySelectorAll('button');
        for (var i = 0; i < buttons.length; i++) {
            // buttons[i].style.display = "none";
            buttons[i].classList.remove('sh');
            buttons[i].classList.add('go');
        }
        controlPanel.classList.remove('show');
        controlPanel.classList.add('gonne');            
        changeContentEditable(false, el);
        buttonState = 0;
        controlPanel.addEventListener('transitionend', function() {
            try {
                el.removeChild(controlPanel);
            } catch (err) {
                // Do nothing
            }
        }, false);
    }
}

function isChildElementExisted(parent, child) {
    if (parent.querySelectorAll(child).length > 0) {
        return true;
    }
    return false;
}

var mouse = {
    x: 0,
    y: 0
};

function mouseTracking(e, el) {
    mouse.x = e.clientX || e.pageX;
    mouse.y = e.clientY || e.pageY;
    var containerRectangle = el.getBoundingClientRect();

    if (mouse.x > containerRectangle.left && mouse.x < containerRectangle.right &&
        mouse.y > containerRectangle.top && mouse.y < containerRectangle.bottom) {
        // Mouse is inside container.
        return false;
    } else {
        // Mouse is outside container.
        return true;
    }
}
// Business functions comes here
//  bnt_EditClick, just change state of bnt_Edit and return id of parent div
// and also change state of it's contendeditable.
var buttonState;

function bnt_EditClick(_event, target, _parent) {

    var icon = target.querySelector('i');
    if (buttonState == 0 || typeof(buttonState) == 'undefined') {

        target.innerText = null;
        var i_c = document.createElement('i');
        i_c.classList.add("fa");
        i_c.classList.add("fa-ban");
        target.appendChild(i_c);
        target.innerHTML += " Cancel";
        target.style.color = "#f00";
        changeContentEditable(true, _parent);

        buttonState = 1;
    } else if (buttonState == 1) {

        target.innerText = null;
        var i_c = document.createElement('i');
        i_c.classList.add("fa");
        i_c.classList.add("fa-pencil-square-o");
        target.appendChild(i_c);
        target.innerHTML += " Edit";
        target.style.color = "#333";
        changeContentEditable(false, _parent);
        buttonState = 0;
    }
    preventGenDiv();
    function preventGenDiv(){
        $('div[contenteditable]').keydown(function(e) {
    // trap the return key being pressed
    if (e.keyCode === 13) {
      // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
      document.execCommand('insertHTML', false, '<br><br>');
      // document.execCommand('insertHTML', false, '\n');
      // prevent the default behaviour of return key pressed
      return false;
            }
        });
    }
}

function bnt_DoneClick(_event, target, _parent){
    // update for post_data
    //id = 'post-title'
    //id = 'contact=phone'
    //id = 'contact-email'
    //id = "address"
    var elemIDs = ['shop_description', 'contact_phone', 'contact_email', 'address'];
    for (var i = 0; i < elemIDs.length; i++){
        // var str_temp = 
        post_data[elemIDs[i]] = document.getElementById(elemIDs[i]).innerText;
    }
    if (buttonState == 0 || typeof(buttonState) == 'undefined'){
        return;
    }
    bnt_EditClick(_event, target, _parent);
}

function changeContentEditable(state, el) {
    var title = el.querySelector('.post-title');
    var excerpts = el.querySelectorAll('.excerpt');
    title.setAttribute('contentEditable', state);
    for(var i = 0; i< excerpts.length; i ++){
        excerpts[i].setAttribute('contentEditable', state);
        if (state== true){
            excerpts[i].classList.add("emphasized");
            title.classList.add("emphasized");
        }else{
            excerpts[i].classList.remove("emphasized")
            title.classList.remove("emphasized");
        }
    }    
    if (state == true) {
        el.querySelector('.editarea').classList.add('anibox');
        el.querySelector('.editarea').focus();
        placeCaretAtEnd(title);
    } else {
        el.querySelector('.editarea').classList.remove('anibox');
    }

    function placeCaretAtEnd(el) {
        el.focus();
        if (typeof window.getSelection != "undefined" && typeof document.createRange != "undefined") {
            var range = document.createRange();
            range.selectNodeContents(el);
            range.collapse(false);
            var sel = window.getSelection();
            sel.removeAllRanges();
            sel.addRange(range);
        } else if (typeof document.body.createTextRange != "undefined") {
            var textRange = document.body.createTextRange();
            textRange.moveToElementText(el);
            textRange.collapse(false);
            textRange.select();
        }
    }

}


function uploadImage(str_objType){
    // create encrypted temporary JWT from app_token    
    
    // check Item validation
    var _data = {
        userName: post_data.fb_uid,
        password: app_token
    };
    // _aes_key = cryptoUtil.generateAESKey();    
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey)
    };
    if (str_objType == "avatars"){
        json_data.img = img_Icon.toString();        
    }else if (str_objType = "walls"){
        json_data.img = img_Wall;
    }
    else{

    };    
    json_data.u_type = str_objType;
    $.ajax({
        // url: './userToken',
        url: './api/uploadImage',
        method: 'POST',
        data: json_data,
        complete: function(data, status, jqXHR) {
            var obj = JSON.parse(data.responseText);
            // 
            if (obj.err != 0 || obj.err == null) {                 
                return;
            }
            if(obj.uploadType=="avatars"){
                    isUploadIcon = true;
            }else if(obj.uploadType = "walls"){
                    isUploadImage = true;
            }else{

            }
        }
    });

}


function createShop (){

    var elemIDs = ['shop_description', 'contact_phone', 'contact_email', 'address','pathName', 'showName','slogan','companyName'];
    var isMissing = false;
    var missingObj = {};
    for( var i = 0; i< elemIDs.length; i ++){        
        if(post_data[elemIDs[i]] == null || post_data[elemIDs[i]] == undefined) {            
            isMissing = true;
            missingObj[elemIDs[i]] =0;
            continue;            
        }
    }

    missingObj.isUploadIcon = isUploadIcon;
    missingObj.isUploadImage = isUploadImage;

    var isMissing = isMissing*(isUploadImage == false) * (isUploadIcon == false);
    console.log('isMissing', isMissing, 'missingObj', missingObj);
    if (isMissing == true) {
        displayMissingInfo(missingObj);
        return;
    }
    var _data = {
        userName: post_data.fb_uid,
        password: app_token
    };
    // _aes_key = cryptoUtil.generateAESKey();    
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey)
    };
    for (var info in post_data){
        if (info != "fb_uid" ){
            json_data[info]=post_data[info];
        }
    }
    
    $.ajax({
        // url: './userToken',
        url: '/api/createShop',
        method: 'POST',
        data: json_data,
        complete: function(data, status, jqXHR) {
            var obj = JSON.parse(data.responseText);
            // 
            if (obj.err != 0 || obj.err == null) {              
                return;
            }
            else if (obj.err == 0){
                // var sURL =  post_data.pathName + '/' + 'addItem';
                var sURL =  "/createNewShop" + '/' + 'addItem';
                console.log ('sURL', sURL);
                window.location.href = sURL;
            }
        }
    });
    function displayMissingInfo(missingObj){
        console.log(missingObj);
    }
}
// Facebook
var RSAPublicKey = <%-JSON.stringify(data)%>;

function checkLoginStatus() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
}

window.fbAsyncInit = function() {
    FB.init({
        appId: '203172309854130',
        cookie: true, // enable cookies to allow the server to access 
        // the session
        xfbml: false, // parse social plugins on this page
        version: 'v2.4' // use version 2.2
    });

    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });

};

// Load the SDK asynchronously
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


var aes_key;
var app_token;

function getNewToken(uid, token) {
    // console.log("uid: ", uid);
    //    console.log("accessToken: ", token);
    var _data = {
        userName: uid,
        password: token
    };
    aes_key = cryptoUtil.generateAESKey();
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey, aes_key),
        fromCreateNewShop : 1
    };
    
    console.log('_data: ', _data);
    $.ajax({
        // url: './userToken',
        url: '/api/gettoken',

        method: 'POST',
        data: json_data,
        // contentType:'application/json',
        complete: function(data, status, jqXHR) {
            console.log('result', data);
            // console.log(typeof(data));
            var obj = JSON.parse(data.responseText);
            if (obj.err == 0) {
                var encrypted_app_token = obj.encrypted_app_token;                
                var _app_token = cryptoUtil.aesDecryptor(encrypted_app_token, aes_key);                
                app_token = JSON.parse(_app_token).app_token;
                localStorage.setItem("app_token", app_token);                
                post_data.fb_uid = uid;
                if(obj.isShop == 1){
                    updateShop(obj.shop);
                }
            }else{
                    post_data.fb_uid = null;
                }

            }
        });
}


function checkToken(uid, accessToken) {
    //1. check wheather token is existed in localStorage
    if (localStorage.getItem("app_token") === null) {
        getNewToken(uid, accessToken);
        return;
    }    
    //2. get Token from localStorage
    app_token = localStorage.getItem("app_token");
    // check Item validation
    var _data = {
        userName: uid,
        password: app_token
    };
    // _aes_key = cryptoUtil.generateAESKey();
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey),
        fromCreateNewShop : 1
    };
    $.ajax({
        // url: './userToken',
        url: '/api/checktoken',
        method: 'POST',
        data: json_data,
        complete: function(data, status, jqXHR) {
            var obj = JSON.parse(data.responseText);
            if (obj.err != 0) {
                getNewToken(uid, accessToken);
                return;
            }
            if(obj.isShop == 1){                
                updateShop(obj.shop);
            }
            post_data.fb_uid = uid;
        }
    });
}

function updateShop(shop){
    console.log(shop);
    var pathName = document.querySelector("#pathName");
    pathName.value = shop.pathName;
    pathName.disabled = true;    
    post_data.pathName = shop.pathName;
    var masthead = document.querySelector("#masthead");    
    masthead.style.backgroundImage  = "url('" +'/'+ shop.walls +"')";        
    document.getElementById('logo').setAttribute('src','/'+shop.avatars);

    var elems = ['showName','companyName','slogan'];
    for(var i = 0; i < elems.length; i ++){
        var elem = document.querySelector("#_"+elems[i]);
        elem.value = shop[elems[i]];        
    }
    document.querySelector("#iconHolder").setAttribute('src','/'+ shop.avatars);    
    document.querySelector("#wallHolder").setAttribute('src','/'+ shop.walls);
    
    var cols = ['showName','companyName','slogan','shop_description','contact_phone','contact_email','address'];
    for(var i = 0; i< cols.length; i++){
        // console.log(shop[cols[i]]);
        post_data[cols[i]] = shop[cols[i]];
        var str_arr = shop[cols[i]].split("\n");
        document.getElementById(cols[i]).innerText = null;
        for(var j = 0; j<str_arr.length;j++){
                // console.log(str_arr[j], j);                    
                var t = document.createTextNode(str_arr[j]);
                document.getElementById(cols[i]).appendChild(t);
                var br = document.createElement("br");
                if (j != str_arr.length -1){
                    document.getElementById(cols[i]).appendChild(br);
                }                
            }
    }

    masthead.classList.remove("hiddenElem");
    masthead.classList.add('start');
    post_data = shop;    
    isUploadIcon=post_data.isUploadIcon = true;
    isUploadImage=post_data.isUploadImage = true;
    var pos = {};
    pos.coords = {};
    pos.coords.latitude = "";
    pos.coords.longitude = "";
    pos.coords.latitude = shop.latitude;
    pos.coords.longitude = shop.longitude;
    updatePos(pos);
    google.maps.event.trigger(map, "resize");        
}

function fetchingInfo(callback) {

    // console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', 'GET', {
        "fields": "id,name,email"
    }, function(response) {        
        callback(response);
    });

}



function handleFBData(response) {
    // document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
    var visitorHolder = document.querySelector('#visitorHolder');        
    // console.log("visitorHolder", visitorHolder);
    var parent = visitorHolder.parentNode;
    parent.removeChild(visitorHolder);
    FB.api('/me/picture?type=large', function(response) {
        // document.getElementById("profileImage").setAttribute("src", response.data.url);
        // console.log(response.data.url);
        var _img = document.querySelector("#avatar");        
        _img.setAttribute("src", response.data.url);
        _img.style.border = "0";
        var sedond_img = document.querySelector("#secondAvatar");
        sedond_img.setAttribute("src", response.data.url);
        sedond_img.style.border = "0";

    });

    var _li = document.createElement('li');
    _li.classList.add ("navbar-right");    
    // _li.style.marginTop= "10px";
    var _a = document.createElement('a');
    var _span = document.createElement('span');
    var _div = document.createElement('div');
    var _img = document.createElement('img');

    _div.classList.add('navbar-right');
    _div.style.with = "25px";
    _div.style.height = "25px";
    _div.style.width = "204x";
    _div.style.overflow = "hidden";

    _img.style.width = "25px";
    _img.style.height = "auto";
    // _img.style.paddingLeft = "10px";
    _img.setAttribute("id", "avatar");    
    _div.appendChild(_img);
    _span.appendChild(_div);

    _a.appendChild(_span);
    _a.style.color = "#fff";
    var t = document.createTextNode( String.fromCharCode(160)+ response.name +  String.fromCharCode(160));
    _a.appendChild(t);
    _li.appendChild(_a)
    parent.appendChild(_li);
    // console.log("parent", parent);
    var temp = t.cloneNode(true);
    document.querySelector('#helloVisior').appendChild(temp);

}

// This is called with the results from from FB.getLoginStatus().
function statusChangeCallback(response) {

    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
        fetchingInfo(handleFBData);
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;        
        checkToken(uid, accessToken);

    } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        // document.getElementById('status').innerHTML += 'Please log ' +
        // 'into this app.';
        addLoginListener();
    } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        // document.getElementById('status').innerHTML += 'Please log ' +
        // 'into Facebook.';
        addLoginListener();
    }
    function addLoginListener(){
        var login = document.querySelector('#visitor');
        login.addEventListener('click',fb_enter,false);
    }    
}

function fb_enter() {
    // console.log("okie here");
    FB.login(function(response) {
        console.log(response);
        if (response.status === 'connected') {
            statusChangeCallback(response);
        }
    }, {})
}
</script>
<!-- GoogleMap Section -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var geocoder = new google.maps.Geocoder();
    var map;
    function geocodePosition(pos) {
        geocoder.geocode({
            latLng: pos
        }, function(responses) {
            if (responses && responses.length > 0) {
                updateMarkerAddress(responses[0].formatted_address);
            } else {
                updateMarkerAddress('Cannot determine address at this location.');
            }
        });
    }

    function updateMarkerStatus(str) {
        // document.getElementById('markerStatus').innerHTML = str;
    }

    function updateMarkerPosition(latLng) {
        post_data.longitude = latLng.lng();
        post_data.latitude = latLng.lat();
    }

    function updateMarkerAddress(str) {
        document.getElementById('address').innerHTML = str;
    }

    function err_Handler(err) {
        console.log(err);
    }

    function initialize() {

        var latLng
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(updatePos, err_Handler) ;
        } 
        updatePos();

    }
    function updatePos(pos) {

            if(pos== null|| pos == undefined){
                latLng = new google.maps.LatLng(-34.397, 150.644);    
            }else{                
                latLng = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude)
            }

            map = new google.maps.Map(document.getElementById('googleMap'), {
                zoom: 15,
                center: latLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var marker = new google.maps.Marker({
                position: latLng,
                title: 'Vị trí hiện tại của bạn',
                map: map,
                draggable: true
            });

            // Update current position info.
            updateMarkerPosition(latLng);
            geocodePosition(latLng);

            // Add dragging event listeners.
            google.maps.event.addListener(marker, 'dragstart', function() {
                updateMarkerAddress('Dragging...');
            });

            google.maps.event.addListener(marker, 'drag', function() {
                updateMarkerStatus('Dragging...');
                updateMarkerPosition(marker.getPosition());
            });

            google.maps.event.addListener(marker, 'dragend', function() {
                updateMarkerStatus('Drag ended');
                geocodePosition(marker.getPosition());
            });
    }
    // Onload handler to fire off the app.
    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addDomListener(window, "resize", function() {
        var center = map.getCenter();
        google.maps.event.trigger(map, "resize");
        map.setCenter(center); 
    });
    </script>
</html>
