<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Shoptify voiceweb</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shop.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" type="text/css" href="/public/css/startrating.css">
    <link rel="stylesheet" type="text/css" href="/public/css/Carousel.css">
    <link rel="stylesheet" type="text/css" href="/public/css/component.css">
    <link rel="stylesheet" href="/public/css/animate.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
#masthead {
    background-size: 115% 115%;
}

#masthead.start {
    transition: all 5s ease-in-out;
    background-size: 100% 100%;
    top: 0;
    left: 0;
    padding-top: 15%;
}

@media only screen and (max-width: 992px) {
    #masthead {
        background-size: auto 105%;
    }
    #masthead.start {
        transition: all 5s ease-in-out;
        background-size: auto 100%;
        top: 0;
        left: 0;
        padding-top: 15%;
        /*bottom: 0px;*/
    }
}

.controls {
    margin-top: 15px;
    /*vertical-align: middle;*/
}

@media (min-width: 979px) {
    #sidebar.affix-bottom {
        position: absolute;
    }
    #sidebar.affix-top {
        position: static;
        /*margin-top: 30px;*/
        /*width: 300px;*/
    }
    #sidebar.affix {
        position: fixed;
        top: 70px;
        /*width: 300px;*/
    }
}

#phasebeam {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#phasebeam canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.introduction .label {
    background-color: #5CB85C;
}

.animatedIcon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: iconAni 2s infinite;
    /* Safari 4+ */
    -moz-animation: iconAni 2s infinite;
    /* Fx 5+ */
    -o-animation: iconAni 2s infinite;
    /* Opera 12+ */
    animation: iconAni 2s infinite;
    /* IE 10+, Fx 29*/
}

@-webkit-keyframes iconAni {
    0% {
        background-color: #FFF;
        margin-top: 0px;
    }
    50% {
        background-color: #5CB85C;
        margin-top: 25px;
    }
    100% {
        background-color: #F0a;
        margin-top: 10px;
    }
}

@-moz-keyframes iconAni {
    0% {
        background-color: #FFF;
        margin-top: 0px;
    }
    50% {
        background-color: #5CB85C;
        margin-top: 25px;
    }
    100% {
        background-color: #F0a;
        margin-top: 10px;
    }
}

@-o-keyframes iconAni {
    0% {
        background-color: #FFF;
        margin-top: 0px;
    }
    50% {
        background-color: #5CB85C;
        margin-top: 25px;
    }
    100% {
        background-color: #F0a;
        margin-top: 10px;
    }
}

@keyframes iconAni {
    0% {
        background-color: #FFF;
        margin-top: 0px;
    }
    50% {
        background-color: #5CB85C;
        margin-top: 25px;
    }
    100% {
        background-color: #F0a;
        margin-top: 10px;
    }
}
.table {
    border-bottom: 0px !important;
}

.table th,
.table td {
    border: 0px !important;
}

.fixed-table-container {
    border: 0px !important;
}

.hideElement {
    display: none;
}

#visitorHolder a {
    color: #fff;
}

#visitorHolder:active a {
    background-color: #fff;
    color: #3b5998;
}
</style>
<!-- HTML code from Bootply.com editor -->

<body style="background-color: rgb(0,0,0)">
    <!-- Dont touch this section -->
    <!-- masthead -->
    <div id="masthead">
        <!-- <div style="height:100%; width: 100%; background-color: rgba(0,0,0,.6)"></div> -->
        <div class="container-fluid">
            <div class="row cover">
                <div class="col-md-6 col-md-offset-1 ">
                    <h1><app-showname id="showName"></app-showname>
                        <!-- <hr style = "border-top: 1px solid rgba(255,255,255,.3)"> -->
                        <p class="lead"><app-slogan id = 'slogan'>Shop chuyên hàng hiệu...!</app-slogan></p>
                    </h1>
                </div>
                <!-- <div class="col-md-5" style="padding-right:30px; bottom: 10px; right: 0px; position: absolute;"> -->
                <div class="col-md-5" style="padding:30px">
                    <!-- Primary Advertising Here -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <marketing-message>Tin tức khuyến mại</marketing-message>
                        </div>
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                    </div>
                    <!-- /Primary Advertising Here -->
                </div>
            </div>
        </div>
        <!-- /cont -->
    </div>
    <!-- /masthead -->
    <!-- NavBar -->
    <div id="nav-wrapper">
        <div id="nav" class="navbar navbar-inverse navbar-static-top navbar" role="navigation">
            <div class="container">
                <div class="row">
                    <div >
                        <img id = "avatars" src="../public/img/CatLogo.png" class="logo">
                    </div>
                    <div id = 'companyName' class='site-name hidden-xs'>
                        AbcJSC
                    </div>
                    <div class='navbar-left site-name phone'>
                        <i class="fa fa-phone "></i>
                        <!-- <i class="fa fa-facebook"></i> -->
                    </div>
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <nav class="collapse navbar-collapse " role="navigation">
                        <ul class="nav navbar-nav ">
                            <li class='navbar-right'>
                                <a id = "createNewShopMenu" class="createNewShop">Create a new Shop</a>
                            </li>
                            <li class='navbar-right'>
                                <a href="#sec">About</a>
                            </li>
                            <li class='navbar-right'>
                                <a href="#sec">Khuyến mãi</a>
                            </li>
                            <li class='navbar-right'>
                                <a href="#sec">Sản phẩm</a>
                            </li>
                            <li class='navbar-right '>
                                <a href="#sec">Home</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id = "visitor">
                            <li class='navbar-right'>
                                <a id = "cartReview"><b id = 'quantityOfItems'></b><i class="fa fa-cart-plus" style="font-size: 18px;color: #fff"></i></a>
                            </li>
                            <li class='navbar-right' id='visitorHolder'>
                                <a href="#sec" id = "login"> <i class="fa fa-facebook fa-2x "></i><span> Login with Facebook</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- /NavBar -->
    <!-- /Dont touch this section -->
    <!-- <div style="width:100%; height:20px; background-color: rgba(0,0,0,.5)"></div> -->
    <div class="container-fluid" id="start-offset">
        <hr>
        <!-- <div app-moveup: 0 style="position: relative; top: -128px;"> -->
        <div app-moveup: 0 style="position: relative;">
            <!--left-->
            <!--right-->
            <div class="col-sm-3 col-md-push-9 hidden-xs">
                <!-- <div class="col-sm-3 col-md-pull-9"> -->
                <div id='sidebar' class='sidebar'>
                    <!-- <h2>Side</h2> -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <marketing-message>Tin tức khuyến mại</marketing-message>
                        </div>
                        <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                    </div>
                    <hr>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <marketing-message>Tin tức khuyến mại</marketing-message>
                        </div>
                        <div class="panel-body">Content here..</div>
                    </div>
                    <hr>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <marketing-message>Tin tức khuyến mại</marketing-message>
                        </div>
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                    </div>
                    <hr>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <marketing-message>Tin tức khuyến mại</marketing-message>
                        </div>
                        <div class="panel-body">Content here..</div>
                    </div>
                    <hr>
                </div>
            </div>
            <!--/right-->
            <!--/left-->
            <!--center-->
            <div class="col-sm-9 col-md-pull-3">
                <div class="row">
                    <carousel-area>
                        <!-- <div style='background-color: rgba(0,0,0,.6); color:white; width:100% ; margin-top: 72px'> -->
                        <div style='background-color: rgba(0,0,0,.6); color:white; width:100%'>
                            <div class="row">
                                <div class="col-md-9">
                                    <h3>
                                        Hàng mới...!</h3>
                                </div>
                                <div class="col-md-3">
                                    <!-- Controls -->
                                    <div class="controls pull-right ">
                                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
                                        <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                                    </div>
                                </div>
                            </div>
                            <div id="carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active" id = "hot_item_active">
                                    </div>
                                    <div class="item" id = "hot_item">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </carousel-area>
                </div>
                <hr/>
                <!--  End of Top Carousel -->
                <div class="row">
                    <div style='background-color: rgba(0,0,0,.6); color:white; width:100% ; margin-top: 72px; padding-left: 10px' class="slide-up">
                        <carousel-area>
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>
                                            Hàng bán nhiều nhất...!</h3>
                                    </div>
                                    <div class="col-md-3">
                                        <!-- Controls -->
                                        <div class="controls pull-right">
                                            <a class="left fa fa-chevron-left btn btn-success" href="#carousel-collections" data-slide="prev"></a>
                                            <a class="right fa fa-chevron-right btn btn-success" href="#carousel-collections" data-slide="next"></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="carousel-collections" class="carousel slide carousel-fade" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="row">
                                                <main-panel id = 'newProductRootActive'>
                                                </main-panel>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <main-panel id = 'newProductRoot'>                  
                                                </main-panel>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </carousel-area>
                    </div>
                </div>
            </div>
            <!--/center-->
        </div>
    </div>
    <div id="end-offset">
        <section class="divider">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <!-- <h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Try and Tweak Different Layouts</h2> -->
                <h2><i class="fa fa-arrow-circle-down animatedIcon"></i></h2>
            </div>
        </section>
        <div class="container-fluid" style="background-color: #fff; display:flex" id="section1">
            <div class="col-md-6 col-lg-6" style="flex:1">
                <h3><i class="fa fa-microphone"></i> Giới thiệu</h3>
                <div id = 'shop_description' >
                </div>
                <hr>
                <h3><i class="fa fa-user-plus"></i> Sản phẩm</h3>
                <div class="introduction" id = 'introduction'>
                </div>
                <hr>
                <h3><i class="fa fa-anchor"></i> Liên hệ:</h3>
                <li class="list-unstyled">
                    <i class="fa fa-phone-square"></i>
                    <label>Phone:</label><app-contact id = 'contact_phone'></app-contact>
                </li>
                <li class="list-unstyled">
                    <i class="fa fa-envelope"></i>
                    <label>email:</label><app-contact id = 'contact_email'></app-contact> 
                </li>
                <li class="list-unstyled">
                    <i class="fa fa-map-marker"></i>
                    <label>Địa chỉ:</label><app-address id = 'address'></app-address>                     
                </li>
                <hr>
            </div>
            <div class="col-md-6 col-lg-6" style="padding:0; flex:1" id="googleMap">
            </div>
            <hr>
        </div>
        <section class="divider">
            <div class="col-sm-6 col-sm-offset-3 text-center ">
                <!-- <h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Try and Tweak Different Layouts</h2> -->
                <h2><i class="fa fa-arrow-circle-down animatedIcon"></i></h2>
            </div>
        </section>
        <footer>
            <div class="container-fluid" style="background-color:rgba(0,0,0,.65); ">
                <div class=" footer row cover " style="padding-top: 20px; padding-bottom: 40px;">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-4" style='text-align: center; margin-top: 30px'>
                            <span style="font-size: 24px; color:white;  ">CON MÈO</span>
                            <p></p>
                            <a app-backToHome=true>
                                <img id = "footerAvatar" style="width: 40%; margin-top: 30px" >
                            </a>
                            <p></p>
                            <app-slogan id = "slogan"></app-slogan>
                        </div>
                        <div class="col-md-4" style="margin-top: 30px">
                            <span style="font-size: 24px; color:white; text-align: center "><i class="fa fa-arrows"></i>   THÔNG TIN...</span>
                            <p></p>
                            <li>Sản phẩm mới</li>
                            <li>Sản phẩm bán chạy nhất</li>
                            <li>Chúng tôi</li>
                            <li>Tin khuyến mại</li>
                            <li>Chính sách</li>
                        </div>
                        <div class="col-md-4" style="margin-top: 30px">
                            <span style="font-size: 24px; color:white; text-align: center "><i class="fa fa-user-plus"></i>  SẢN PHẨM...</span>
                            <P></P>
                            <li>keyword abc</li>
                            <li>keyword abc</li>
                            <li>keyword abc</li>
                            <li>keyword abc</li>
                            <li>keyword abc</li>
                        </div>
                    </div>
                </div>
                <!--/col-->
            </div>
            <div style=" width: 100%; background-color: rgba(0,0,0,.85); height: 90px;">                
                <div class="col-md-12" style="padding: 15px">
                    <div class="col-md-3 col-md-offset-1">
                        @Copyright:abcd@abc.jsc
                    </div>
                    <div class="controls pull-right">
                        <!-- id = "createNewShopMenu" class="createNewShop" -->
                        <a href="" class= "createNewShop">
                            <button type="button" class="btn btn-primary">Create a new Shop</button>
                        </a>                        
                    </div>
                </div>
            </div>
        </footer>
    </div>
        <modal>
            <div id="confirmModal" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header clearfix" style="background-color: #A30042; color:#fff; padding:0">
                            <div class="col-md-3">
                                <img class = "img-responsive logo" id = "imgModalIcon">    
                            </div>
                            <div class="col-md-9">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" style="padding: 10px">Phiếu xác nhận</h3>    
                            </div>
                        </div>
                        <div class="modal-body clearfix" style="background-color: #f2f2f2">
                            <div class="col-md-3">
                                <img id = "modalConfirmImage" class="img-responsive">
                                <div style="margin: 20px"></div>
                                <label>Product</label><br>
                                <app-modalProduct></app-modalProduct><br>
                                <label>Price</label><br>
                                <div><app-ModalPrice></app-ModalPrice></div>
                            </div>
                            <div class="col-md-9">
                                <label>Cám ơn bạn đã đặt hàng</label>
                                <div><small>Xin vui lòng cung cấp thêm thông tin về đơn hàng này...</small></div>
                                <div style="margin: 20px"></div>
                                <table class="table">
                                    <tbody>
                                        <tr style="border:none">
                                            <td>Họ và tên người nhận hàng</td>
                                            <td>
                                                <input type="text" class="form-control data-input" id = 'orderPerson'>
                                            </td>
                                        </tr>
                                        <tr style="border:none">
                                            <td>Số điện thoại liên hệ</td>
                                            <td>
                                                <input type="text" class="form-control data-input" id = 'orderPhone'>
                                            </td>
                                        </tr>
                                        <tr style="border:none">
                                            <td>Địa chỉ giao hàng</td>
                                            <td>
                                                <input type="text" class="form-control data-input" id = "orderAddress">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer" style="background-color: #eee">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id = "modalCancel">Cancel</button>
                            <button type="button" class="btn btn-success btn-ok" data-dismiss="modal" id = "modalConfirm">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    <template id = 'keyword'>
        <span class="label label-default"><app-cat app-role="cat" ></app-cat></span>
    </template>
    <template id = "hotItem">
        <div class="col-sm-4" style="padding-bottom: 20px; padding-top: 20px">
            <div class="col-item">
                <item-detail>
                <div class="photo" >
                    <img app-role ='imgName'  class="img-responsive center-block">
                    <div class='focus' app-role = "handler"></div>
                </div>
                <div class="rating">
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                </div>
                <div></div>
                <!-- style="display: inline-block;height: 4em;clear:both; /* white-space: nowrap; */ overflow: hidden; text-overflow: ellipsis" -->
                <!-- <div product-title style='clear:both; white-space: nowrap; overflow: hidden; text-overflow: ellipsis'> -->
                <div product-title class='description' app-role = 'productDescription'>
                </div>
                <div product-price app-role = 'price'></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0 ">
                    <div add-toCart = "true" class="items">
                        <i class="fa fa-cart-plus" style='font-side:24px'></i>
                        <br>Add to Cart
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0">
                    <div more-detail style="padding-left:0 " class="items">                        
                        <div style="border-left: dotted 1px; padding-left: 5px" >
                            <a app-itemPreview = true style="color:#fff">
                                <i class="fa fa-list" ></i>
                                <br>More details
                            </a>
                        </div>
                    </div>
                </div>
            </item-detail>
            <hr>
        </div>
    </template>
    <template id = "newItem">
        <div class="col-sm-3" style="padding-bottom: 20px">
            <div class="col-item">
                <item-detail>
                <div class="photo">
                    <img app-role ='imgName' class="img-responsive center-block">
                    <div class='focus' app-role = "handler"></div>
                </div>
                <div class="rating">
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                </div>
                <div></div>
                <div product-title class='description' app-role = 'productDescription'>                    
                </div>
                <div product-price app-role = 'price'>Price:123$</div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0 ">
                    <div add-toCart = "true" class="items">
                        <i class="fa fa-cart-plus" style='font-side:24px'></i>
                        <br>Add to Cart
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0">
                    <div more-detail style="padding-left:0 " class="items">
                        <div style="border-left: dotted 1px; padding-left: 5px" >
                            <a app-itemPreview = true style="color:#fff">
                                <i class="fa fa-list"></i>
                                <br>More details
                            </a>
                        </div>
                    </div>
                </div>
            </item-detail>
            <hr>
        </div>
    </div>
</template>
    <div id="phasebeam">
        <canvas width="700" height="650"></canvas>
        <canvas width="700" height="650"></canvas>
        <canvas width="700" height="650"></canvas>
    </div>
    <script type="text/javascript" src='/public/js/utils.js'></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="/public/js/Crypto/cryptoUtils.js"></script>
    <script type="text/javascript" src="../public/js/phasebeam.js"></script>
    <script type="text/javascript">
    $(function() {
        // $('#nav-wrapper').height($("#nav").height());
        // $('#nav-wrapper').height(200);
        $('#nav').affix({
            offset: {
                top: function() {
                    // Do other stuff here-- chipl
                    return $('#start-offset').offset().top / 2;
                }
            }
        });
        // Sidebar affix
        $('#sidebar').affix({
            offset: {
                top: $('#start-offset').offset().top + 0,
                bottom: $('#end-offset').outerHeight() - 20
            }
        }).on('affix.bs.affix', function() { // before affix
            $(this).css({
                /*'top': headerHeight,*/ // for fixed height
                'width': $(this).outerWidth() // variable widths
            });
        }).on('affix-bottom.bs.affix', function() { // before affix-bottom
            // $(this).css('bottom', 'auto'); // THIS is what makes the jumping
        });;

    });
    $('.carousel').carousel({
        interval: 2000 * 10
    });
    // for Banner ini only 
    $(document).ready(function() {
        /** code inside **/
        
    });

    function preventCreateNewShop(){
        console.log ("you have to login before create new Shop");
    }
    //-// Google map    
    var pos = {};
    var myCenter = new google.maps.LatLng(21.030668, 105.852284);
    
    function initialize() {
        if(pos.lat && pos.lon){
            myCenter = new google.maps.LatLng(pos.lat, pos.lon);
        }
        try{
            var mapProp = {
                center: myCenter,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            };

            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            if(pos.lat && pos.lon){
                myCenter = new google.maps.LatLng(pos.lat, pos.lon);
            }
            var marker = new google.maps.Marker({
                position: myCenter,
                animation: google.maps.Animation.DROP
            });

            marker.setMap(map);
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map, marker);
            });
        }            
        catch(err){
            console.log(err);
        }
    }    
    var infowindow = new google.maps.InfoWindow({
        content: "Hello World!"
    });
    </script>

</body>
<script type="text/javascript">
// This function is called when someone finishes with the Login
// Button.  See the onlogin handler attached to it in the sample
// code below.
var RSAPublicKey = <%-JSON.stringify(data)%>
var shop = <%-JSON.stringify(shop)%>
var orderId;
var itemsQuantity = 0;
var orderInfo = {};
updateShop(shop);

function updateShop(shop){
    if(!shop){
        return;
    }
    if (localStorage.getItem("orderId") === null) {
        orderId =<%-JSON.stringify(orderId)%>
        localStorage.setItem("orderId", orderId);
    }else{
        orderId = localStorage.getItem("orderId");
    }    
    //
    if(localStorage.getItem("cartItemLists")){
        cartItemLists = JSON.parse(localStorage.getItem("cartItemLists"));
        for (var i =0; i < cartItemLists.length; i ++){
            itemsQuantity += cartItemLists[i].qty;
        }
        document.getElementById('quantityOfItems').innerHTML = itemsQuantity;    
    }
    if(localStorage.getItem("orderInfo")){
        orderInfo = JSON.parse(localStorage.getItem('orderInfo'));
    }
    
    //
    var masthead = document.querySelector("#masthead");    
    masthead.style.backgroundImage  = "url('" + shop.walls.substring(1) +"')";
    masthead.classList.remove("hiddenElem");
    masthead.classList.add('start');
    document.getElementById('avatars').setAttribute('src',shop['avatars'].substring(1));    
    var base_infos = ['address','companyName','contact_email','contact_phone','pathName','shop_description','showName','slogan'];
    for (var i = 0; i< base_infos.length; i ++){        
        var elem = document.getElementById(base_infos[i])
        if(elem){
            var txt = document.createTextNode(shop[base_infos[i]]);
            elem.innerHTML = null;
            elem.appendChild(txt);
        }
    }
    var latitude = parseFloat(shop.latitude);
    var longitude = parseFloat(shop.longitude);    
    pos.lat  = latitude;
    pos.lon = longitude;
    //update categories
    var keyword = document.getElementById('keyword').content;
    
    var introduction = document.getElementById('introduction');
    for(var i in shop.categories){
        var appCat  = keyword.querySelector('[app-role="cat"]');        
        var txt = document.createTextNode(shop.categories[i]);
        appCat.innerHTML = null;
        appCat.appendChild(txt);
        introduction.appendChild(document.importNode(keyword, true));
    }
    var hotItems = shop.hot_items;    
    var hotItemElem = document.getElementById('hotItem').content;
    var hotItemElemRoot = document.getElementById('hot_item_active');
    var hotItemElemRootInactive = document.getElementById('hot_item');    
    //console.log(hotItems);

    for (var i = 0; i<hotItems.length;i++){
        var product_image = hotItemElem.querySelector("[app-role ='imgName']")
        // var imgPath = '/public/products/'+ hotItems[i].imgName[0] +'.png';
        var imgPath = '/public/products/'+ hotItems[i].imgName[0] +'.png';
        product_image.setAttribute('src', imgPath);
        product_image.setAttribute("id", hotItems[i]._productId);
        var handler = hotItemElem.querySelector('[app-role = "handler"]');
        var itemPreview = hotItemElem.querySelector('[app-itemPreview="true"]')
        itemPreview.setAttribute("href",'/' + shop.pathName +'/item/'+hotItems[i]._productId);
        handler.setAttribute('app-itemNumber', hotItems[i]._productId);
        var productDescription = hotItemElem.querySelector("[app-role = 'productDescription']");
        productDescription.innerHTML = null;
        txt = document.createTextNode(hotItems[i].productDescription);
        productDescription.appendChild(txt);
        var price = hotItemElem.querySelector("[app-role = 'price']");
        price.innerHTML = null;
        txt = document.createTextNode(hotItems[i].newPrice + ' VND / ' + hotItems[i].unit);
        price.appendChild(txt);
        var addToCart = hotItemElem.querySelector('[add-toCart = "true"]');
        addToCart.setAttribute('app-itemNumber', hotItems[i]._productId);
        
        if(i<6){
            hotItemElemRoot.appendChild(document.importNode(hotItemElem,true));
        }
        if(i>2){
            hotItemElemRootInactive.appendChild(document.importNode(hotItemElem,true));
        }
    }

    var newItems = shop.new_items;    
    var newItem = document.getElementById('newItem').content;
    var newProductRootActive = document.getElementById('newProductRootActive');
    var newProductRoot = document.getElementById('newProductRoot');
    
    for(var i=0;i<newItems.length;i++){
        var product_img = newItem.querySelector("[app-role ='imgName']");
        imgPath = '/public/products/'+ newItems[i].imgName[0] +'.png';        
        product_img.setAttribute('src', imgPath);
        product_img.setAttribute("id", newItems[i]._productId);
        var _handler = newItem.querySelector('[app-role = "handler"]');
        _handler.setAttribute ('app-itemNumber', newItems[i]._productId);
        var itemPreview = newItem.querySelector('[app-itemPreview="true"]')
        itemPreview.setAttribute("href",'/' + shop.pathName +'/item/'+hotItems[i]._productId);
        var productDescription = newItem.querySelector("[app-role = 'productDescription']");
        productDescription.innerHTML = null;
        txt = document.createTextNode(newItems[i].productDescription);        
        productDescription.appendChild(txt);
        var price = newItem.querySelector("[app-role = 'price']");
        price.innerHTML = null;
        txt = document.createTextNode(newItems[i].newPrice + ' VND / ' + newItems[i].unit);
        price.appendChild(txt);
        var addToCart = newItem.querySelector('[add-toCart = "true"]');
        addToCart.setAttribute('app-itemNumber', newItems[i]._productId);
        // console.log(productDescription.innerHTML);
        if(i<8){
            newProductRootActive.appendChild(document.importNode(newItem,true));
        }
        if(i>2){
            newProductRoot.appendChild(document.importNode(newItem,true));
        }
    }

    var imgs = document.querySelectorAll('[app-role = "handler"]');    
    for(var i = 0; i<imgs.length;i++){        
        imgs[i].addEventListener('click',function(e){
            // console.log('okie',this.getAttribute('app-itemNumber'));
            // var sURL =  "/createNewShop" + '/' + 'addItem' +'/'+this.getAttribute('app-itemNumber');
            var sURL =  '/' + shop.pathName +'/item/'+this.getAttribute('app-itemNumber');            
            // console.log ('sURL', sURL);
            window.location.href = sURL;
        },false);
    }
    var addToCarts = document.querySelectorAll('[add-toCart = "true"]');
    for(var i = 0;i< addToCarts.length; i++){
        addToCarts[i].addEventListener("click",function(e){
            var img = document.getElementById(this.getAttribute('app-itemNumber'));
            movingImage(img, movingImgCallback);
        },false)
    }
    document.getElementById("footerAvatar").setAttribute("src",shop.avatars.substring(1));
    document.getElementById("slogan").innerHTML = shop.slogan;
    var backToHomes = document.querySelectorAll('[app-backToHome=true]');
    for(var i = 0; i< backToHomes.length;i++){
            // console.log(i, backToHomes(i));
            backToHomes[i].setAttribute("href", "/"+shop.pathName);
        }

    document.getElementById('modalConfirm').addEventListener("click",function(e){
        updateConfirmation();
    },false);

    var orderElems = ['orderPerson', 'orderPhone', 'orderAddress'];
    for (var i = 0;i< orderElems.length; i ++){
        document.getElementById(orderElems[i]).addEventListener('change',function(e){
            getOrderInfo(this);
        },false);
    }
    document.getElementById('cartReview').setAttribute('href','/'+shop.pathName+'/cartReview#start-offset');
    // localStorage.setItem("cartItemLists",JSON.stringify([]));
    startFacebook(document, 'script', 'facebook-jssdk');
    // GoogleMap
    google.maps.event.addDomListener(window, 'load', initialize);
}

var ordering_Item ;

function movingImgCallback(elem){
    var shopItems = shop.hot_items.concat(shop.new_items);
    // item_OrderNum = elem.id;
    for(var i = 0; i< shopItems.length; i++){
        if(shopItems[i]._productId == elem.id){
            ordering_Item = shopItems[i];
            break;
        }
    }
    document.getElementById('imgModalIcon').setAttribute('src', shop['avatars'].substring(1));
    document.getElementById('modalConfirmImage').setAttribute("src", '/public/products/'+ ordering_Item.imgName[0]+ ".png");
    document.querySelector('app-ModalPrice').innerHTML = ordering_Item.newPrice + ' VND / ' + ordering_Item.unit;
    document.querySelector('app-modalProduct').innerHTML = ordering_Item.productName;

    $("#confirmModal").modal('show');
};
$('#confirmModal').on('shown.bs.modal', function() {
    var orderElems = ['orderPerson', 'orderPhone', 'orderAddress'];
    for (var i = 0;i< orderElems.length; i ++){
        if(orderInfo[orderElems[i]]){
            document.getElementById(orderElems[i]).value = orderInfo[orderElems[i]]    
        }
    }
    ordering_Item.orderInfo = orderInfo;
    ordering_Item.qty = 1;
})
function getOrderInfo(elem){
    orderInfo[elem.id]= elem.value;
    localStorage.setItem('orderInfo', JSON.stringify(orderInfo));
};


var cartItemLists = [];
function updateConfirmation(){
    itemsQuantity++;
    document.getElementById('quantityOfItems').innerHTML = itemsQuantity;
    if(localStorage.getItem("cartItemLists")){
        cartItemLists = JSON.parse(localStorage.getItem("cartItemLists"));
    }    
    if(cartItemLists.length == 0){
        cartItemLists.push(ordering_Item);            
    }else{
        var isExisted = false;
        for (var i =0; i<cartItemLists.length; i++){
            if(cartItemLists[i]._productId == ordering_Item._productId ){
                cartItemLists[i].qty ++;
                isExisted = true;
                break;   
            }
        }
        if (!isExisted){
            cartItemLists.push(ordering_Item);
        }
    }
    localStorage.setItem("cartItemLists",JSON.stringify(cartItemLists));
}

function checkLoginStatus() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
}

window.fbAsyncInit = function() {
    FB.init({
        appId: '203172309854130',
        cookie: true, // enable cookies to allow the server to access 
        // the session
        xfbml: false, // parse social plugins on this page
        version: 'v2.4' // use version 2.2
    });

    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });

};

function startFacebook(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}


var aes_key;
var app_token;

function getNewToken(uid, token) {
    // console.log("uid: ", uid);
    //    console.log("accessToken: ", token);
    var _data = {
        userName: uid,
        password: token
    };
    aes_key = cryptoUtil.generateAESKey();
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey, aes_key)
    };
    
    $.ajax({
        // url: './userToken',
        url: '/api/gettoken',

        method: 'POST',
        data: json_data,
        // contentType:'application/json',
        complete: function(data, status, jqXHR) {
            console.log('result', data);
            // console.log(typeof(data));
            var obj = JSON.parse(data.responseText);
            if (obj.err == 0) {
                var encrypted_app_token = obj.encrypted_app_token;
                // console.log('encrypted_app_token: ', encrypted_app_token);
                var _app_token = cryptoUtil.aesDecryptor(encrypted_app_token, aes_key);
                // console.log("typeof app_token: ", typeof(_app_token));
                // console.log('app_token: ', JSON.parse(_app_token).app_token);
                app_token = JSON.parse(_app_token).app_token;
                localStorage.setItem("app_token", app_token);
                addLinks();
            }else{
                    // for createNewShop id = "createNewShopMenu" class="createNewShop"
                var createNewLinks = document.querySelectorAll(".createNewShop");
                for (var i=0; i<createNewLinks.length; i++){            
                    createNewLinks[i].addEventListener('click', preventCreateNewShop ,false);
                };
            }

        }
    });
}

function checkToken(uid, accessToken) {
    //1. check wheather token is existed in localStorage
    if (localStorage.getItem("app_token") === null) {
        getNewToken(uid, accessToken);
        return;
    }
    //2. get Token from localStorage
    app_token = localStorage.getItem("app_token");
    // check Item validation
    var _data = {
        userName: uid,
        password: app_token
    };
    // _aes_key = cryptoUtil.generateAESKey();
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey)
    };
    $.ajax({
        // url: './userToken',
        url: '/api/checktoken',
        method: 'POST',
        data: json_data,
        complete: function(data, status, jqXHR) {
            var obj = JSON.parse(data.responseText);
            if (obj.err != 0) {
                getNewToken(uid, accessToken);
                return;
            }
            addLinks();
        }
    });
}

function addLinks(){
    isLoggedIn = true;
    var createNewLinks = document.querySelectorAll(".createNewShop");
    for (var i=0; i<createNewLinks.length; i++){            
        createNewLinks[i].removeEventListener('click', preventCreateNewShop , false)
        createNewLinks[i].setAttribute("href", "/createnewshop");
    }
}

function fetchingInfo(callback) {

    // console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', 'GET', {
        "fields": "id,name,email"
    }, function(response) {        
        callback(response);
    });

}

function handleFBData(response) {
    // document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
    var visitorHolder = document.querySelector('#visitorHolder');        
    // console.log("visitorHolder", visitorHolder);
    var parent = visitorHolder.parentNode;
    parent.removeChild(visitorHolder);
    FB.api('/me/picture?type=small', function(response) {
        // document.getElementById("profileImage").setAttribute("src", response.data.url);
        console.log(response.data.url);
        var _img = document.querySelector("#avatar");        
        _img.setAttribute("src", response.data.url);
        _img.style.border = "0";
            
    });

    var _li = document.createElement('li');
    _li.classList.add ("navbar-right");    
    // _li.style.marginTop= "10px";
    var _a = document.createElement('a');
    var _span = document.createElement('span');
    var _div = document.createElement('div');
    var _img = document.createElement('img');

    _div.classList.add('navbar-right');
    _div.style.with = "25px";
    _div.style.height = "25px";
    _div.style.width = "204x";
    _div.style.overflow = "hidden";

    _img.style.width = "25px";
    _img.style.height = "auto";
    // _img.style.paddingLeft = "10px";
    _img.setAttribute("id", "avatar");    
    _div.appendChild(_img);
    _span.appendChild(_div);

    _a.appendChild(_span);
    _a.style.color = "#fff";
    var t = document.createTextNode( String.fromCharCode(160)+ response.name +  String.fromCharCode(160));
    _a.appendChild(t);
    _li.appendChild(_a)
    parent.appendChild(_li);
    // console.log("parent", parent);

}

var isLoggedIn = false;
// This is called with the results from from FB.getLoginStatus().
var uid
function statusChangeCallback(response) {

    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
        fetchingInfo(handleFBData);
        uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;        
        checkToken(uid, accessToken);

    } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        // document.getElementById('status').innerHTML += 'Please log ' +
        // 'into this app.';
        addLoginListener();
    } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        // document.getElementById('status').innerHTML += 'Please log ' +
        // 'into Facebook.';
        addLoginListener();
    }
    function addLoginListener(){
        var login = document.querySelector('#visitor');
        login.addEventListener('click',fb_enter,false);
    }    
}


function fb_enter() {
    // console.log("okie here");
    FB.login(function(response) {
        console.log(response);
        if (response.status === 'connected') {
            statusChangeCallback(response);
        }
    }, {})

}
</script>

</html>
