<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Marketing Blog</title>
<meta name="generator" content="Bootply" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../public/css/navbar.css">
<link rel="stylesheet" type="text/css" href="../public/css/shop.css">
<link rel="stylesheet" type="text/css" href="../public/css/main.css">
<link rel="stylesheet" media="screen, print, handheld" type="text/css" href="../public/css/calendar.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../public/css/breadcrumb.css">
<link rel="stylesheet" type="text/css" href="../public/css/blog.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/js/calendar.02.js"></script>
<!--script type="text/javascript" src='js/navbar.js'></script-->
<style type="text/css">
body,
html {
    min-height: 100%;
}

#masthead {
    background-size: 115% auto;
}

#masthead.start {
    transition: all 5s ease-in-out;
    background-size: 100% auto;
    top: 0;
    left: 0;
    padding-top: 15%;
}

.br-response {
    height: 0;
}

@media only screen and (max-width: 768px) {
    #masthead {
        background-size: auto 115%;
    }
    #masthead.start {
        transition: all 5s ease-in-out;
        background-size: auto 100%;
        top: 0;
        left: 0;
        padding-top: 15%;
        /*bottom: 0px;*/
    }
    .br-response {
        height: 120px;
    }
}

.controls {
    margin-top: 15px;
    /*vertical-align: middle;*/
}

@media (min-width: 979px) {
    #sidebar.affix-bottom {
        position: relative
    }
    #sidebar.affix-top {
        position: static;
    }
    #sidebar.affix {
        position: fixed;
        top: 70px;
    }
}

#phasebeam {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#phasebeam canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.introduction .label {
    background-color: #5CB85C;
}

.animatedIcon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: iconAni 2s infinite;
    /* Safari 4+ */
    -moz-animation: iconAni 2s infinite;
    /* Fx 5+ */
    -o-animation: iconAni 2s infinite;
    /* Opera 12+ */
    animation: iconAni 2s infinite;
    /* IE 10+, Fx 29*/
}

@-webkit-keyframes iconAni {
    0% {
        background-color: #FFF;
        margin-top: 0px;
    }
    50% {
        background-color: #5CB85C;
        margin-top: 25px;
    }
    100% {
        background-color: #F0a;
        margin-top: 10px;
    }
}

@-moz-keyframes iconAni {
    0% {
        background-color: #FFF;
        margin-top: 0px;
    }
    50% {
        background-color: #5CB85C;
        margin-top: 25px;
    }
    100% {
        background-color: #F0a;
        margin-top: 10px;
    }
}

@-o-keyframes iconAni {
    0% {
        background-color: #FFF;
        margin-top: 0px;
    }
    50% {
        background-color: #5CB85C;
        margin-top: 25px;
    }
    100% {
        background-color: #F0a;
        margin-top: 10px;
    }
}

@keyframes iconAni {
    0% {
        background-color: #FFF;
        margin-top: 0px;
    }
    50% {
        background-color: #5CB85C;
        margin-top: 25px;
    }
    100% {
        background-color: #F0a;
        margin-top: 10px;
    }
}

.photo >img {
    width: 100%;
}
</style>

<body style="background-color: rgb(0,0,0);">
    <div id="masthead">
        <!-- <div style="height:100%; width: 100%; background-color: rgba(0,0,0,.6)"></div> -->
        <div class="container-fluid">
            <div class="row cover">
                <div class="col-md-6 col-md-offset-1 ">
                    <h1>Con mèo
                        <!-- <hr style = "border-top: 1px solid rgba(255,255,255,.3)"> -->
                        <p class="lead"><app-slogan>Shop chuyên hàng hiệu...!</app-slogan></p>
                    </h1>
                </div>                
            </div>
        </div>
        <!-- /cont -->
    </div>
    <!-- Dont touch this section -->
    <!-- NavBar -->
        <div id="nav-wrapper">
        <div id="nav" class="navbar navbar-inverse navbar-static-top navbar" role="navigation">
            <div class="container">
                <div class="row">
                    <a id = 'logoCover' app-backToHome=true>
                        <img id = "avatars" src="/public/img/CatLogo.png" class="logo">
                    </a>
                    <div class='site-name hidden-xs'>
                        <app-companyName id = 'companyName'></app-companyName>
                    </div>
                    <div class='navbar-left site-name phone'>
                        <i class="fa fa-phone "></i>
                        <!-- <i class="fa fa-facebook"></i> -->
                    </div>
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <nav class="collapse navbar-collapse " role="navigation">
                        <ul class="nav navbar-nav ">
                            <li class='navbar-right'>
                                <a id = "createNewShopMenu" class="createNewShop">Create a new Shop</a>
                            </li>
                            <li class='navbar-right'>
                                <a href="#sec">About</a>
                            </li>
                            <li class='navbar-right'>
                                <a href="#sec">Khuyến mãi</a>
                            </li>
                            <li class='navbar-right'>
                                <a href="#sec">Sản phẩm</a>
                            </li>
                            <li class='navbar-right '>
                                <a app-backToHome=true >Home</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id = "visitor">                            
                            <li class='navbar-right'>
                                <a style="cursor: pointer"><b id = 'quantityOfItems'></b><i class="fa fa-opencart" style="font-size: 18px;color: #fff"></i></a>
                            </li>
                            <li class='navbar-right' id='visitorHolder' style="cursor: pointer">
                                <a href="#sec" id = "login"> <i class="fa fa-facebook "></i><span> Login with Facebook</span></a>
                            </li>
                        </ul>
                        <ul class='nav navbar-nav navbar-right hideElement' id = 'configMenu'>
                            <li class='navbar-right'>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-heart-o"></i> MyShop <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-level navbar-right">
                                    <li><a href="#" id = "getHome"><i class="fa fa-home"></i> Về nhà </a></li>
                                    <li><a href="#" id = "editShop"><i class="fa fa-cog"></i> Chỉnh sửa giao diện </a></li>
                                    <li><a href="#" id = "manageShop"><i class="fa fa-th-large"></i> Quản lý bán hàng </a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid" id="start-offset" style="min-height: 100%;">
        <!--center-->
        <div class="col-md-9" style="min-height: 100%;" >
        	<h3 style="color: #fff">
        		Quản lý đơn đặt hàng
        	</h3>
        	<div id = 'orderManager'>
        			
        	</div>
            
        </div>
        <!--/center-->
        <!-- Right Sidebar -->
        <div class="col-md-3">
            <!-- <div class="col-sm-3 col-md-pull-9"> -->
            <div id='sidebar' class='sidebar'>
                <div id="myCalendar"></div>
                <hr>
                <!-- <h2>Side</h2> -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <marketing-message>Tin tức khuyến mại</marketing-message>
                    </div>
                    <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                </div>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <marketing-message>Tin tức khuyến mại</marketing-message>
                    </div>
                    <div class="panel-body">Content here..</div>
                </div>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <marketing-message>Tin tức khuyến mại</marketing-message>
                    </div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                </div>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <marketing-message>Tin tức khuyến mại</marketing-message>
                    </div>
                    <div class="panel-body">Content here..</div>
                </div>
                <hr>
            </div>
        </div>
        <!-- /Right Sidebar -->
    </div>
    <div id="end-offset">
        <section class="divider"></section>
        <footer>
            <div class="container-fluid" style="background-color:rgba(0,0,0,.65); ">
                <div class=" footer row cover " style="padding-top: 20px; padding-bottom: 40px;">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-4" style='text-align: center; margin-top: 30px'>
                            <span style="font-size: 24px; color:white;  ">CON MÈO</span>
                            <p></p>
                            <img style="width: 40%; margin-top: 30px" id = "avatarFooter">
                            <p></p>
                            Shop chuyên hàng hiệu...!
                        </div>
                        <div class="col-md-4" style="margin-top: 30px">
                            <span style="font-size: 24px; color:white; text-align: center "><i class="fa fa-arrows"></i>   THÔNG TIN...</span>
                            <p></p>
                            <li>Sản phẩm mới</li>
                            <li>Sản phẩm bán chạy nhất</li>
                            <li>Chúng tôi</li>
                            <li>Tin khuyến mại</li>
                            <li>Chính sách</li>
                        </div>
                        <div class="col-md-4" style="margin-top: 30px">
                            <span style="font-size: 24px; color:white; text-align: center "><i class="fa fa-user-plus"></i>  SẢN PHẨM...</span>
                            <P></P>
                            <li>keyword abc</li>
                            <li>keyword abc</li>
                            <li>keyword abc</li>
                            <li>keyword abc</li>
                            <li>keyword abc</li>
                        </div>
                    </div>
                </div>
                <!--/col-->
            </div>
            <div style=" width: 100%; background-color: rgba(0,0,0,.85); height: 90px;">
                @Copyright:abcd@abc.jsc
            </div>
        </footer>
    </div>
    <div id = "order" style="diplay:none">
    	<div class = 'row' app-id = 'order'>
    		<div class="panel panel-default">
    			<div style="border:1px solid #fff">					    	
    				<img app-id='buyerAvatar'style="height:40px;width:auto"></img>
    				<span app-id="OrderPerson" style="padding: 10px">Nemo de Nemo</span>
    				<span app-role = "time" class="pull-right" style="padding: 10px"></span>
    				<span class="pull-right" style="padding: 10px">Đặt hàng lúc</span>
    			</div>
    			<div>
    				<table class="table table-bordered" style="color:#fff;background-color: rgba(0,0,0,.6)">
    					<thead style="background-color:rgba(255,255,255,0.1)">
    						<tr>
    							<th class="col-md-2">Product</th>
    							<th class="col-md-1">Qty</th>
    							<th>Price</th>
    							<th class="col-md-4">Order's Info</th>
    							<th class="col-md-1">Status</th>
    						</tr>
    					</thead>
    					<tbody app-id="orderTable">

    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
    </div>
    <template id = "items">
    	<tr>
    		<td>
    			<img app-role = "icon"  style="height:50px;width:auto">                        
    			<label app-role= "product"></label><br>
    			<!-- <label>Shop: </label>
    			<div app-role= "shop"></div> -->
    		</td>
    		<td app-role = "quantity"></td>
    		<td app-role = "price"></td>
    		<td app-role = "info"></td>
    		<td style="vertical-align: middle"><span app-role = "status" class="center-block" ></span></td>
    	</tr>
    </template>
    <div id="phasebeam">
        <canvas width="700" height="650"></canvas>
        <canvas width="700" height="650"></canvas>
        <canvas width="700" height="650"></canvas>
    </div>
    <script type="text/javascript" src="/public/js/phasebeam.js"></script>
    <script type="text/javascript" src="/public/js/Crypto/cryptoUtils.js"></script>    
</body>
<script type="text/javascript">
$(function() {
    // $('#nav-wrapper').height($("#nav").height());
    // $('#nav-wrapper').height(200);
    $('#nav').affix({
        offset: {
            top: function() {
                // Do other stuff here-- chipl
                return $('#start-offset').offset().top / 2;
            }
        }
    });
    // Sidebar affix
    $('#sidebar').affix({
        offset: {
            top: $('#start-offset').offset().top + 0,
            bottom: $('#end-offset').outerHeight() - 20
        }
    }).on('affix.bs.affix', function() { // before affix
        $(this).css({
            /*'top': headerHeight,*/ // for fixed height
            'width': $(this).outerWidth() // variable widths
        });
    }).on('affix-bottom.bs.affix', function() { // before affix-bottom
        // $(this).css('bottom', 'auto'); // THIS is what makes the jumping
    });
    // Calendar
	var node = document.createElement("calendar");
	var parent = document.getElementById("myCalendar");
	calendar(node, parent);

});

var RSAPublicKey = <%-JSON.stringify(data)%>
var shop =  <%-JSON.stringify(shop)%>
$(document).ready(function() {

    var masthead = document.querySelector("#masthead");    
    masthead.style.backgroundImage  = "url('" + shop.walls.substring(1) +"')";
    masthead.classList.remove("hiddenElem");
    masthead.classList.add('start');
    document.getElementById('avatars').setAttribute('src',shop['avatars'].substring(1));  
    document.getElementById('avatarFooter').setAttribute('src',shop['avatars'].substring(1));
    var showNames = document.querySelectorAll("app-showName");
    for(var i = 0 ; i< showNames.length; i++){
        showNames[i].innerHTML = shop.showName;
        // showNames[i].innerHTML = shop.companyName;
    }
    var companyName = document.querySelector('app-companyName')
    companyName.innerHTML = shop.companyName;

    var backToHomes = document.querySelectorAll('[app-backToHome=true]');
        for(var i = 0; i< backToHomes.length;i++){
            // console.log(i, backToHomes(i));
            backToHomes[i].setAttribute("href", "/"+shop.pathName);
        }
    var slogans = document.querySelectorAll("[app-slogan=true]");
        for(var i = 0; i< slogans.length;i++){
            slogans[i].innerHTML = shop.slogan;
        }
    
    startFacebook(document, 'script', 'facebook-jssdk');
    getOrderOfCustomer();
});

function getOrderOfCustomer(){
	if (localStorage.getItem("app_token") === null) {
        getNewToken(uid, accessToken);
    }
    //2. get Token from localStorage
    token = localStorage.getItem("app_token");
    var _data = {
        userName: uid,
        password: token
    };
    aes_key = cryptoUtil.generateAESKey();
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey, aes_key)
    };    
    
    $.ajax({
        // url: './userToken',
        url: '/'+shop.pathName+'/orderOfCustomer',
        method: 'GET',
        data: json_data,
        beforeSend: function(){
            
        },
        complete: function(data, status, jqXHR) {
            var arr = JSON.parse(data.responseText);
            arr = arr.reverse();
            var root = document.getElementById('orderManager');
            console.log(arr);
            var _orderElem = document.getElementById('order');
            for(var i = 0;i<arr.length;i++){
            	var orderElem = _orderElem.cloneNode(true);
            	orderElem.style.display = 'block';
            	var ava = orderElem.querySelector("[app-id='buyerAvatar']");
            	ava.setAttribute('src', arr[i].avatarImg);
            	var orderPerson = orderElem.querySelector('[app-id="OrderPerson"]');
            	orderPerson.innerHTML = arr[i].facebookName;
            	var items = arr[i].items
            	var orderTableRoot = orderElem.querySelector('[app-id="orderTable"]');
            	orderElem.querySelector('[app-role = "time"]').innerHTML = arr[i].time;
            	for (var j = 0 ; j < items.length; j ++){

            		var itemElem = document.getElementById('items').content;
            		// console.log(orderTableRoot);
            		var icon = itemElem.querySelector('[app-role = "icon"]');
        			icon.setAttribute('src','/public/products/'+items[j].imgName[0]+ ".png")
        			itemElem.querySelector('[app-role= "product"]').innerHTML = items[j].productName;
        			itemElem.querySelector('[app-role = "quantity"]').innerHTML = items[j].qty;	
        			itemElem.querySelector('[app-role = "price"]').innerHTML= items[j].newPrice + " VND/ " + items[j].unit;	
        			var str  = '';
			        str += "<label > " + "Người nhận: "+ "</label>" +items[j].orderInfo.orderPerson +"<br>"
			        str += "<label> " + "Phone: "+ "</label>" + items[j].orderInfo.orderPhone +"<br>"
			        str += "<label> " + "Địa chỉ: "+ "</label>" +items[j].orderInfo.orderAddress
			        itemElem.querySelector('[app-role = "info"]').innerHTML= str;	
        			orderTableRoot.appendChild(document.importNode(itemElem,true));
            	}
            	orderTableRoot = undefined;
            	// root.appendChild(document.importNode(orderElem,true));
            	root.appendChild(orderElem);
            }
        }
    });
}

function checkLoginStatus() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
}

window.fbAsyncInit = function() {
    FB.init({
        appId: '203172309854130',
        cookie: true, // enable cookies to allow the server to access 
        // the session
        xfbml: false, // parse social plugins on this page
        version: 'v2.4' // use version 2.2
    });

    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });

};

function startFacebook(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}


var aes_key;
var app_token;

function getNewToken(uid, token) {
    // console.log("uid: ", uid);
    //    console.log("accessToken: ", token);
    var _data = {
        userName: uid,
        password: token
    };
    aes_key = cryptoUtil.generateAESKey();
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey, aes_key)
    };
    
    $.ajax({
        // url: './userToken',
        url: '/api/gettoken',
        method: 'POST',
        data: json_data,
        // contentType:'application/json',
        complete: function(data, status, jqXHR) {
            var obj = JSON.parse(data.responseText);
            if (obj.err == 0) {
                var encrypted_app_token = obj.encrypted_app_token;
                // console.log('encrypted_app_token: ', encrypted_app_token);
                var _app_token = cryptoUtil.aesDecryptor(encrypted_app_token, aes_key);
                // console.log("typeof app_token: ", typeof(_app_token));
                // console.log('app_token: ', JSON.parse(_app_token).app_token);
                app_token = JSON.parse(_app_token).app_token;
                localStorage.setItem("app_token", app_token);
                addLinks(obj);
            }else{
                    // for createNewShop id = "createNewShopMenu" class="createNewShop"
                var createNewLinks = document.querySelectorAll(".createNewShop");
                for (var i=0; i<createNewLinks.length; i++){            
                    createNewLinks[i].addEventListener('click', preventCreateNewShop ,false);
                };
            }

        }
    });
}

function checkToken(uid, accessToken) {
    //1. check wheather token is existed in localStorage
    if (localStorage.getItem("app_token") === null) {
        getNewToken(uid, accessToken);
        return;
    }
    //2. get Token from localStorage
    app_token = localStorage.getItem("app_token");
    // check Item validation
    var _data = {
        userName: uid,
        password: app_token
    };
    // _aes_key = cryptoUtil.generateAESKey();
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey)
    };
    $.ajax({
        // url: './userToken',
        url: '/api/checktoken',
        method: 'POST',
        data: json_data,
        complete: function(data, status, jqXHR) {
            var obj = JSON.parse(data.responseText);
            if (obj.err != 0) {
                getNewToken(uid, accessToken);
                return;
            }
            addLinks(obj);
        }
    });
}

function addLinks(obj){
    isLoggedIn = true;
    var createNewLinks = document.querySelectorAll(".createNewShop");
    if(obj.isShop&&obj.isShop==1){
       document.getElementById('configMenu').classList.remove('hideElement');
       document.getElementById('getHome').setAttribute('href', "/"+obj.shop.pathName);
       document.getElementById('editShop').setAttribute('href','/createnewshop');
       document.getElementById('manageShop').setAttribute('href','/'+obj.shop.pathName+"/"+"management");
       for (var i=0; i<createNewLinks.length; i++){
            createNewLinks[i].style.visibility = "hidden";
        }
    }else{
        
        for (var i=0; i<createNewLinks.length; i++){            
            createNewLinks[i].removeEventListener('click', preventCreateNewShop , false)
            createNewLinks[i].setAttribute("href", "/createnewshop");
        }
    }
}

function fetchingInfo(callback) {

    // console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', 'GET', {
        "fields": "id,name,email"
    }, function(response) {        
        callback(response);
    });

}


function handleFBData(response) {
    // document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
    var visitorHolder = document.querySelector('#visitorHolder');        
    // console.log("visitorHolder", visitorHolder);
    var parent = visitorHolder.parentNode;
    parent.removeChild(visitorHolder);
    FB.api('/me/picture?type=small', function(response) {
        // document.getElementById("profileImage").setAttribute("src", response.data.url);
        console.log(response.data.url);
        var _img = document.querySelector("#avatar");        
        _img.setAttribute("src", response.data.url);
        _img.style.border = "0";
        avatarImg = response.data.url;              
    });
    facebookName = response.name;  
    var _li = document.createElement('li');
    _li.classList.add ("navbar-right");    
    // _li.style.marginTop= "10px";
    var _a = document.createElement('a');
    var _span = document.createElement('span');
    var _div = document.createElement('div');
    var _img = document.createElement('img');

    _div.classList.add('navbar-right');
    _div.style.with = "25px";
    _div.style.height = "25px";
    _div.style.width = "204x";
    _div.style.overflow = "hidden";

    _img.style.width = "25px";
    _img.style.height = "auto";
    // _img.style.paddingLeft = "10px";
    _img.setAttribute("id", "avatar");    
    _div.appendChild(_img);
    _span.appendChild(_div);

    _a.appendChild(_span);
    _a.style.color = "#fff";
    var t = document.createTextNode( String.fromCharCode(160)+ response.name +  String.fromCharCode(160));
    _a.appendChild(t);
    _a.style.cursor = "pointer";
    _li.appendChild(_a)    
    parent.appendChild(_li);
    // console.log("parent", parent);

}

var isLoggedIn = false;
// This is called with the results from from FB.getLoginStatus().
var uid
function statusChangeCallback(response) {

    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
        fetchingInfo(handleFBData);
        uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;        
        checkToken(uid, accessToken);

    } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        // document.getElementById('status').innerHTML += 'Please log ' +
        // 'into this app.';
        addLoginListener();
    } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        // document.getElementById('status').innerHTML += 'Please log ' +
        // 'into Facebook.';
        addLoginListener();
    }
    function addLoginListener(){
        var login = document.querySelector('#visitor');
        login.addEventListener('click',fb_enter,false);  
    }    
}


function fb_enter() {
    // console.log("okie here");
    FB.login(function(response) {
        console.log(response);
        if (response.status === 'connected') {
            statusChangeCallback(response);
        }
    }, {})

}
function preventCreateNewShop(){}

</script>

</html>
