<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
    
    <div class="container-fluid" id="start-offset">
        <div class="row" style="padding-left: 30px; margin-bottom: 30px">
            <h3>
                 <span>Xin chào</span><span id = "helloVisior"></span>
            </h3>
            <div>Bắt đầu tạo shop bạn nhé!.</div>
        </div>
        <div class="col-md-2">
            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p200x200/560240_3811570667854_29414954_n.jpg?oh=5794d1208f39c8fe4ec8ad60b9b95b67&oe=566A7D73&__gda__=1452942864_3941cde6dc0bcd89d72b4f4d631fce83">
        </div>
        <div class="col-md-10">
            <div style="margin-top: 15px" >
                <div class="col-md-8 ">
                    <span>Tên đường dẫn </span><br>
                    <i> Tên tiếng Việt không dấu. Nếu bạn đặt là abcd, đường dẫn tên shop của bạn sẽ là localhost:3000/abcd</i>
                </div>
                <div class="col-md-4 " style="padding: 10px">
                    <input type="text" class="form-control data-input" id = "pathName">
                </div>
            </div>
                
            <div style="margin-top: 15px" >
                    <div class="col-md-8 ">
                    <span>Tên hiển thị của shops </span><br>
                    <i>Có thể đặt bằng tiếng Việt hoặc tiếng Anh</i>                        
                    </div>
                    <div class="col-md-4 " style="padding: 10px">
                        <input type="text" class="form-control data-input" id = "showName">
                    </div>
            </div>

            <div style="margin-top: 15px" >
                <div class="col-md-8 ">
                    <span>Slogan của shop</span><br>
                    <i>Truyền đạt giá trị bạn muốn đem đến cho khách hàng</i>                        
                </div>
                <div class="col-md-4 " style="padding: 10px">
                    <input type="text" class="form-control data-input" id = "slogan">
                </div>
            </div>

            <div style="margin-top: 15px" >
                <div class="col-md-8 ">
                    <span>Tên công ty hay nhóm của bạn</span><br>
                    <i>Để hiển thị trên góc trên bên trái của menu trong shop của bạn</i>                        
                </div>
                <div class="col-md-4 " style="padding: 10px">
                    <input type="text" class="form-control data-input" id = "companyName">
                </div>
            </div>

            <div style="margin-top: 15px" >
                <div class="col-md-8 " style="padding: 10px">
                    <span style="margin: 10px; display: inline-block; vertical-align: middle;">Chọn icon cho shop của bạn</span><button id = 'icon' type="button" style="margin: 10px" class="btn btn-success pull-left" data-toggle="modal" data-target="#m_icon">Icon</button>
                </div>
                <div class = "col-md-4" style="padding: 10px">
                    <div style=" height: 74px; width: 74px">
                        <img id = "iconHolder" style="width: 100%; height:auto">
                    </div>
                </div>
            </div>

            <div style="margin-top: 15px" >
                <div class="col-md-8 " style="padding: 10px">
                    <span style="margin: 10px ; display: inline-block; vertical-align: middle;">Chọn hình nền cho shop của bạn</span>
                    <button id ='wallPaper' type="button" style="margin: 10px" class="btn btn-success pull-left" data-toggle="modal" data-target="#m_wall">Wall</button>
                </div>  
                <div class = "col-md-4" style="padding: 10px">
                    <div style=" widh: 100%; margin-bottom: 15px">
                        <img id = "wallHolder" style=" max-width: 100%; height:auto " >
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
