/*animation element sliding left*/

.animation-element.slide-up {
  opacity: .5;
/*  -moz-transition: all 1,5s ease-in;
  -webkit-transition: all 1,5s ease-in;
  -o-transition: all 1,5s ease-in;*/
  transition: all 1.5s ease-in;
/*  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);*/
  transform: translate3d(0px, 100px, 0px);
}

.animation-element.slide-up.in-view {
  opacity: 1;
  /*-moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transition-duration: .3s;*/
  transition: all 1.5s ease-in;
  transform: translate3d(0px, 0px, 0px);
}
/*animation slide left styled for testimonials*/

