<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/Carousel.css">
    <link rel="stylesheet" type="text/css" href="css/shop.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-9">
                    <h3>
                        Carousel Product Cart Slider</h3>
                </div>
                <div class="col-md-3">
                    <!-- Controls -->
                    <div class="controls pull-right hidden-xs">
                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
                        <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                    </div>
                </div>
            </div>
            <div id="carousel-example" class="carousel" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="col-item">
                                    <item-detail>
                                        <div class="photo">
                                            <img src="img/Products/product3.jpg" class="img-responsive center-block">
                                            <div class='focus'></div>
                                        </div>
                                        <div class="rating">
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                        </div>
                                        <div></div>
                                        <!-- style="display: inline-block;height: 4em;clear:both; /* white-space: nowrap; */ overflow: hidden; text-overflow: ellipsis" -->

                                        <!-- <div product-title style='clear:both; white-space: nowrap; overflow: hidden; text-overflow: ellipsis'> -->
                                        <div product-title class='description'>

                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean

                                        </div>
                                        <div product-price>Price: 123$</div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0 ">
                                            <div add-toCart class="items">
                                                <i class="fa fa-cart-plus" style='font-side:24px'></i>
                                                <br>Add to Cart
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0">
                                            <div more-detail style="padding-left:0 " class="items">
                                                <div style="border-left: dotted 1px; padding-left: 5px">
                                                    <i class="fa fa-list"></i> 
                                                    <br>More details
                                                </div>
                                            </div>
                                        </div>
                                    </item-detail>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-item">
                                    <item-detail>
                                        <div class="photo">
                                            <img src="img/Products/product3.jpg" class="img-responsive center-block">
                                            <div class='focus'></div>
                                        </div>
                                        <div class="rating">
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                        </div>
                                        <div></div>
                                        <!-- style="display: inline-block;height: 4em;clear:both; /* white-space: nowrap; */ overflow: hidden; text-overflow: ellipsis" -->

                                        <!-- <div product-title style='clear:both; white-space: nowrap; overflow: hidden; text-overflow: ellipsis'> -->
                                        <div product-title class='description'>

                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean

                                        </div>
                                        <div product-price>Price: 123$</div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0 ">
                                            <div add-toCart class="items">
                                                <i class="fa fa-cart-plus" style='font-side:24px'></i>
                                                <br>Add to Cart
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0">
                                            <div more-detail style="padding-left:0 " class="items">
                                                <div style="border-left: dotted 1px; padding-left: 5px">
                                                    <i class="fa fa-list"></i> 
                                                    <br>More details
                                                </div>
                                            </div>
                                        </div>
                                    </item-detail>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-item">
                                    <item-detail>
                                        <div class="photo">
                                            <img src="img/Products/product3.jpg" class="img-responsive center-block">
                                            <div class='focus'></div>
                                        </div>
                                        <div class="rating">
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                        </div>
                                        <div></div>
                                        <!-- style="display: inline-block;height: 4em;clear:both; /* white-space: nowrap; */ overflow: hidden; text-overflow: ellipsis" -->

                                        <!-- <div product-title style='clear:both; white-space: nowrap; overflow: hidden; text-overflow: ellipsis'> -->
                                        <div product-title class='description'>

                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean

                                        </div>
                                        <div product-price>Price: 123$</div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0 ">
                                            <div add-toCart class="items">
                                                <i class="fa fa-cart-plus" style='font-side:24px'></i>
                                                <br>Add to Cart
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0">
                                            <div more-detail style="padding-left:0 " class="items">
                                                <div style="border-left: dotted 1px; padding-left: 5px">
                                                    <i class="fa fa-list"></i> 
                                                    <br>More details
                                                </div>
                                            </div>
                                        </div>
                                    </item-detail>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="col-item">
                                    <item-detail>
                                        <div class="photo">
                                            <img src="img/Products/product3.jpg" class="img-responsive center-block">
                                            <div class='focus'></div>
                                        </div>
                                        <div class="rating">
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                        </div>
                                        <div></div>
                                        <!-- style="display: inline-block;height: 4em;clear:both; /* white-space: nowrap; */ overflow: hidden; text-overflow: ellipsis" -->

                                        <!-- <div product-title style='clear:both; white-space: nowrap; overflow: hidden; text-overflow: ellipsis'> -->
                                        <div product-title class='description'>

                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean

                                        </div>
                                        <div product-price>Price: 123$</div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0 ">
                                            <div add-toCart class="items">
                                                <i class="fa fa-cart-plus" style='font-side:24px'></i>
                                                <br>Add to Cart
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0">
                                            <div more-detail style="padding-left:0 " class="items">
                                                <div style="border-left: dotted 1px; padding-left: 5px">
                                                    <i class="fa fa-list"></i> 
                                                    <br>More details
                                                </div>
                                            </div>
                                        </div>
                                    </item-detail>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-item">
                                    <item-detail>
                                        <div class="photo">
                                            <img src="img/Products/product3.jpg" class="img-responsive center-block">
                                            <div class='focus'></div>
                                        </div>
                                        <div class="rating">
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                        </div>
                                        <div></div>
                                        <!-- style="display: inline-block;height: 4em;clear:both; /* white-space: nowrap; */ overflow: hidden; text-overflow: ellipsis" -->

                                        <!-- <div product-title style='clear:both; white-space: nowrap; overflow: hidden; text-overflow: ellipsis'> -->
                                        <div product-title class='description'>

                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean

                                        </div>
                                        <div product-price>Price: 123$</div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0 ">
                                            <div add-toCart class="items">
                                                <i class="fa fa-cart-plus" style='font-side:24px'></i>
                                                <br>Add to Cart
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0">
                                            <div more-detail style="padding-left:0 " class="items">
                                                <div style="border-left: dotted 1px; padding-left: 5px">
                                                    <i class="fa fa-list"></i> 
                                                    <br>More details
                                                </div>
                                            </div>
                                        </div>
                                    </item-detail>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-item">
                                    <item-detail>
                                        <div class="photo">
                                            <img src="img/Products/product3.jpg" class="img-responsive center-block">
                                            <div class='focus'></div>
                                        </div>
                                        <div class="rating">
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                        </div>
                                        <div></div>
                                        <!-- style="display: inline-block;height: 4em;clear:both; /* white-space: nowrap; */ overflow: hidden; text-overflow: ellipsis" -->

                                        <!-- <div product-title style='clear:both; white-space: nowrap; overflow: hidden; text-overflow: ellipsis'> -->
                                        <div product-title class='description'>

                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean

                                        </div>
                                        <div product-price>Price: 123$</div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0 ">
                                            <div add-toCart class="items">
                                                <i class="fa fa-cart-plus" style='font-side:24px'></i>
                                                <br>Add to Cart
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0">
                                            <div more-detail style="padding-left:0 " class="items">
                                                <div style="border-left: dotted 1px; padding-left: 5px">
                                                    <i class="fa fa-list"></i> 
                                                    <br>More details
                                                </div>
                                            </div>
                                        </div>
                                    </item-detail>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
