<!DOCTYPE html>
<html lang="en">
<style type="text/css">
.rating {
    font-size: 150%;
    unicode-bidi: bidi-override;
    direction: rtl;
    float: left;
}
.rating > span {
    /*float:left;*/
    
    width: 20%;
}
.rating > span:hover:before,
.rating.selected:before {
    content: "\2605";
    position: absolute;
    color: yellow;
}
/*.rating > span:hover:before,*/

.rating > span:hover ~ span:before,
.rating.selected ~ span:before {
    content: "\2605";
    position: absolute;
    color: yellow;
}
.productInfo {} .productInfo >div {
    border-bottom: 1px black dotted;
    width: 100%;
}
</style>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
    <h1 class="text-center">Component Test Bed</h1>
    <a>http://jsfiddle.net/andrewleyva/88j0105g/</a>
    <div class="container">
        <div class="col-md-2 col-lg-2 productInfo">
            <div>Customers Reviews</div>
            <div class="rating">
                <span>☆</span>
                <span>☆</span>
                <span>☆</span>
                <span>☆</span>
                <span>☆</span>
            </div>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <item-detail>
                <div class="photo">
                    <img src="img/Products/product3.jpg" class="img-responsive">
                </div>
                <div class="rating">
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                </div>
                <div></div>
                <!-- style="display: inline-block;height: 4em;clear:both; /* white-space: nowrap; */ overflow: hidden; text-overflow: ellipsis" -->    

                <!-- <div product-title style='clear:both; white-space: nowrap; overflow: hidden; text-overflow: ellipsis'> -->
                <div product-title style='overflow: hidden; display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;clear: both;'>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean

                </div>
                <div product-price>Price: 123$</div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0 ">
                    <div add-toCart style="border-top:dotted 1px;  padding: 5px; margin-top:5px ; text-align:center">
                        <i class="fa fa-cart-plus" style='font-side:24px'></i>
                        <br>
                        <div class="mobile hidden-xs">
                            Add to Cart
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0">
                    <div more-detail style="border-top:dotted 1px; padding:5px; margin-top:5px; text-align:center ">
                        <div style="border-left: dotted 1px; padding-left: 5px">
                            <i class="fa fa-list"></i>
                            <div class="hidden-xs">
                                More details
                            </div>
                        </div>
                    </div>
                </div>
            </item-detail>
        </div>
    </div>

</body>

</html>
